﻿@model MyArtGallery.Models.Message
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @MessagesAndNotes.Message;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@MessagesAndNotes.Message</h4>
    <div class="message-frame">

        <div>
          @MessagesAndNotes.From  <b>@Html.DisplayFor(model => model.Author.UserName) </b>
        </div>
        <div>
          @MessagesAndNotes.To  <b>@Html.DisplayFor(model => model.Addressee.UserName) </b>
        </div>
        <div>
          <i>@Html.DisplayFor(model => model.SentDate)</i>
        </div>
        <div>
          @Html.DisplayFor(model => model.Title)
        </div>

        <div>
            
            @Html.DisplayFor(model => model.Text)
        </div>
       @if(Model.ParentId!=null){
            @Html.ActionLink(@Resource.ReplyFor+ " "+ @MessagesAndNotes.Message + ": "+ @Model.Parent.AuthorId, "Details", "Message", new { id=Model.ParentId }, new{@class="links"})
          }
    </div>
</div>
<ul class="links"> 
  <li>@Html.ActionLink(@Resource.Reply, "Reply", new{id = Model.MessageId})</li>
 <li>@Html.ActionLink(@Resource.Back, "Messages", "UserProfile", new {id = User.Identity.Name}, null)</li>
</ul>
