﻿@model PagedList.IPagedList<MyArtGallery.Models.Message>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @MessagesAndNotes.Messages;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@MessagesAndNotes.Messages</h2>
      @if (Model.Count() == 0)
      {
          <p>@MessagesAndNotes.NoMessages</p>
     }
<table id="message-list">
@foreach (var item in Model) {
    <tr>
        <td class="author-name">
           @if(item.WasRead==false){
             <b class="highlight">*</b>
           }
           @Html.DisplayFor(modelItem => item.Author.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
            @Html.ActionLink(@Resource.Browse, "Details", new { id=item.MessageId })
     
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentDate)
        </td>
    </tr>
}

</table>
<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ReceivedList", new { page}), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",
                                                              })
</div>
<ul class="links">
<li>@Html.ActionLink(@MessagesAndNotes.SentMessages, "SentList")</li>
</ul>
