﻿@model MyArtGallery.Models.Message
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Resource.ReplyFor;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<div id="form-wrapper">

 <div>
   <h2>@Resource.ReplyFor:</h2>
        <div class="display-label">
          @MessagesAndNotes.From  <b>@Html.DisplayFor(model => model.Parent.Author.UserName) </b>
        </div>
        <div class="display-label">
         <b>@Html.DisplayFor(model => model.Parent.SentDate)</b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Parent.Title)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Parent.Text)
        </div>

    </div>
@using (Html.BeginForm("Reply", "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
{
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SentDate)
         @Html.HiddenFor(model => model.AuthorId)
       @Html.HiddenFor(model => model.AddresseeId)
       @Html.HiddenFor(model => model.ParentId)
        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Title)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Text)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@MessagesAndNotes.SendMessage" class="sub-button"/>
            </div>
        </div>

}
<p class="links" style="width:100%">
    @Html.ActionLink(@Resource.Back, "Browse", "UserProfile", new{id=Model.AddresseeId}, null)
</p>

</div>
</div>

