﻿@model MyArtGallery.Models.Message
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @MessagesAndNotes.SendMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<div id="form-wrapper">
<h2>@MessagesAndNotes.SendMessage</h2>
<p>@MessagesAndNotes.From: @Model.AuthorId - @MessagesAndNotes.To: @Model.AddresseeId</p>
@using (Html.BeginForm("Send", "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
{
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SentDate)
         @Html.HiddenFor(model => model.AuthorId)
       @Html.HiddenFor(model => model.AddresseeId)
        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Title)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Text)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@MessagesAndNotes.SendMessage" class="sub-button"/>
            </div>
        </div>
}

<ul class="links">
    <li>@Html.ActionLink(@Resource.Back, "Browse", "UserProfile", new{id=Model.AddresseeId}, null)</li>
</ul>
</div>
</div>