﻿@model MyArtGallery.Models.UserViewModels.MessageTypeViewModel
@using MyArtGallery.Resources;
@using (Html.BeginForm("NotesByType", "Notification", FormMethod.Post, new { @class = "form-small", role = "form"})) 
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="button-wrapper">
                   @Html.EnumDropDownListFor(model => model.Type)
                <input type="submit" value="@Resource.Filter" class="sub-button" />
            </div>
</div>
}
