﻿@model MyArtGallery.Models.Notification
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @MessagesAndNotes.Message;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="message-frame">

        <div>
         @MessagesAndNotes.From <b>@Html.DisplayFor(model => model.UserId) </b>
        </div>
        <div>
          @Html.DisplayFor(model => model.Text)
        </div>
        <div>
          <i>@Html.DisplayFor(model => model.SentDate)</i>
        </div>

        <div>
           @if((int)(Model.Kind)==2 || (int)(Model.Kind)==3 || (int)(Model.Kind)==4 || (int)(Model.Kind)==5 || (int)(Model.Kind)==6){
            <p>@Html.ActionLink(@Resource.Go, "Details", "Comment", new { id=Model.ThingId }, new { @class = "links" })</p>
           }
           else if((int)(Model.Kind)==9)
           {}
           else{
            <p>@Html.ActionLink(@Resource.Go, "Details", "Picture", new { id=Model.ThingId }, new { @class = "links" })</p>
           }
        </div>
   </div>
</div>
<ul class="links">
 <li>@Html.ActionLink(@Resource.Back, "Notifications", "UserProfile", new {id = User.Identity.Name}, null)</li>

</ul>


