﻿@model IEnumerable<MyArtGallery.Models.Notification>
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @MessagesAndNotes.Notifications;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@MessagesAndNotes.Notifications</h2>
      @if (Model.Count() == 0)
      {
          <p>@MessagesAndNotes.NoNotes</p>
     }
<table id="note-list">
@foreach (var item in Model) {
    <tr>
        <td class="author-name">
                   @if(item.WasRead==false){
             <b class="highlight">*</b>
           }
                  @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
            @Html.ActionLink(@Resource.Browse, "Details", new { id=item.NotificationId })
     
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentDate)
        </td>
    </tr>
}

</table>
<ul class="links">
<li> @Html.ActionLink(@Resource.Back, "Notifications", "UserProfile", new {id = User.Identity.Name}, null)</li>

</ul>




