﻿@model PagedList.IPagedList<MyArtGallery.Models.Notification>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @MessagesAndNotes.Notifications;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@MessagesAndNotes.Notifications</h2>
      @if (Model.Count() == 0)
      {
          <p>@MessagesAndNotes.NoNotes</p>
     }
<table id="note-list">
   <tr>
    <td></td>
    <td> @{Html.RenderAction("ChooseType", "Notification");}</td>
    <td></td>
   </tr>
@foreach (var item in Model) {
    
    <tr>
        <td class="author-name">
               @if(item.WasRead==false){
             <b class="highlight">*</b>
           }
               @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
            @Html.ActionLink(@Resource.Browse, "Details", new { id=item.NotificationId })
     
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentDate)
        </td>
    </tr>
}

</table>
<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("UserNotifications", new { page }), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
<ul class="links">
    <li>@Html.ActionLink(@Resource.Back, "Index", "Home")</li>
</ul>

