﻿@model MyArtGallery.Models.ChangeRoleViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @UserAccount.ChangeUserRole;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<div id="form-wrapper">
<h3>@UserAccount.ChangeUserRole</h3>
@using (Html.BeginForm("ChangeUserRole", "Administration", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserName)
      <div class="form-group">
            <div class="editor-label">
            @Html.DisplayNameFor(model => model.Role)
                </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(model => model.Role)
                @Html.ValidationMessageFor(model => model.Role)
            </div>
        </div>
     <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@Resource.Save" class="sub-button"/>
            </div>
        </div>
}
<ul class="links">
   <li> @Html.ActionLink(@Resource.Back, "Users", "Administration", null)</li>   
</ul>
</div>
</div>
