﻿@model MyArtGallery.Models.GalleryViewModels.ActionConfirmViewModel
<div id="confirm">
@if(Model.Success)
{
  <p class="pluses">@Model.Message</p>
}
else{
  <p class="minuses">@Model.Message</p>
}
</div>
