﻿@using MyArtGallery.Resources;
@using MyArtGallery.Models;
@{
    ViewBag.Title = @Resource.AdministrationPanel;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        var m=1;
        $('.links a').click(function () {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#tabs-wrapper').html(result);
                    $('html, body').animate({ scrollTop: 100 }, 0);
                    m=$(this).index() + 1;
                    $('.links a.active').removeClass('active');
                    $('.links a:nth-child('+m+')').addClass('active');
                }                
              
            });
            return false;
        });

    });
</script>
<div id="gallery-wrapper">
<div id="tabs-menu">
<ul id="tabs" class="links">
<li>@Html.ActionLink(@Resource.Comments, "Protests", "Administration", new{type=ProtestType.Comment}, new{@class="active"})</li>
<li>@Html.ActionLink(@Resource.Pictures, "Protests", "Administration", new{type=ProtestType.Picture}, null)</li>
<li>@Html.ActionLink(@Resource.Users, "Users", "Administration", null)</li>
</ul>
</div>
<div id="tabs-wrapper">
 @{Html.RenderAction("Protests", "Administration", new{type=ProtestType.Comment});}

</div>
</div>