﻿@model MyArtGallery.Models.Protest
@using MyArtGallery.Resources;
@using MyArtGallery.Models;
<div id="comment">
@using (Html.BeginForm("MarkAsImproper", "Administration", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
{
    <h3>@Resource.MarkAsImproper</h3>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ThingId)
    @Html.HiddenFor(model => model.Kind)
    
    @Html.HiddenFor(model => model.UserId)
    @Html.ValidationSummary(true)
    <div class="form-group">
            <div class="editor-label">
            @Html.DisplayNameFor(model => model.Description)
                </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
     <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@Resource.Send" class="sub-button"/>
            </div>
        </div>
}
</div>
@Scripts.Render("~/bundles/partialsub")