﻿@model PagedList.IPagedList<MyArtGallery.Models.Protest>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@using MyArtGallery.Models;
@{
    ViewBag.Title = @Resource.MyProtests;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<h3>@Resource.MyProtests</h3>

<ul id="protest-list">
@foreach (var item in Model) {
<li>
        <h4>
         @if(item.Kind==ProtestType.Picture){  
           @Resource.Picture 
         }
         else{
           @Resource.Comment
         }
         </h4>
         <p>@item.Description</p>
        <div class="comment-menu">
         @if(item.Kind==ProtestType.Picture)
         {<p>@Html.ActionLink(@Resource.Go, "Details", "Picture", new{id=item.ThingId}, null)</p>}
         else
         {<p>@Html.ActionLink(@Resource.Go, "Details", "Comment", new{id=item.ThingId}, null)</p>}
         <p>@Html.ActionLink(@Resource.Delete, "RemoveProtest", "Administration", new{id=item.ProtestId}, null)</p>
         </div>
  </li>
}
</ul>
<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Protests", 
    new { page }), new PagedListRenderOptions
                                                             {
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
</div>