﻿@model PagedList.IPagedList<MyArtGallery.Models.UserProfile>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
<script type="text/javascript">
    $(function () {           
            $('#pager').on('click', 'a', function () {
                if (this.href == "") { return; }
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#gallery-wrapper').html(result);
                    }
                });
                return false;
            });
    });

</script>
<div id="gallery-wrapper">
<ul id="protest-list">
@foreach (var item in Model) {
<li> 
   <div class="author">
   <a class="avatar" href="@Url.Action("Browse", "UserProfile", new { id = item.UserName })">
    <img alt="@item.UserName" src="@Url.Content(item.AvatarPath)" />
   </a>   
   </div>
   <div class="comment">
   <h4>@item.UserName</h4>
   <p class="links">@Html.ActionLink(@UserAccount.ChangeUserRole, "ChangeUserRole", "Administration", new{id=item.UserName}, null)
   @Html.ActionLink(@MessagesAndNotes.SendMessage, "Send", "Message", new { id = item.UserName }, null) </p>
   </div>
   </li>
}
</ul>
<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Users", 
    new { page }), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
</div>
