﻿@model MyArtGallery.Models.UserProfile
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Model.UserName+"  - "+@UserAccount.Profile ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="profile-wrapper">
    <div id="featured">
        <ul class="links">
    <li>@Html.ActionLink(@MessagesAndNotes.SendMessage, "Send","Message", new { id = Model.UserName }, null) </li>

     <li> @Html.ActionLink(@UserAccount.UserAlbums, "Gallery", "UserProfile", new { id=Model.UserName }, null) </li>
      <li> @Html.ActionLink(@UserAccount.UserFavs, "Favourites", "UserProfile", new { id=Model.UserName }, null) </li>
      <li>@Html.ActionLink(@Resource.Comments, "ListByAuthor", "Comment", new { username = Model.UserName }, null) </li>
  
       </ul>
      
        @{Html.RenderAction("Featured", "Picture", new{ id = Model.UserName});}
    </div>


        <div id="info">
        <div id="avatar-frame">
               <img alt="@Model.UserName" src="@Url.Content(Model.AvatarPath)" />
         
            <p class="highlight">@Html.DisplayFor(model => model.UserName)</p>
        </div>
        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.UserDescription) :</b>
       
            @Html.DisplayFor(model => model.UserDescription)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.BirthDate) :</b>
       
            @Html.DisplayFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Email) :</b>
           
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="editor-label">
            <b class="highlight"> @Html.DisplayFor(model => model.Rank)</b>
    
           
        </div>
        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Gender) :</b>
    
            @Html.DisplayFor(model => model.Gender)
        </div>
        <div class="editor-label">
            <b>@Html.DisplayNameFor(model => model.Country) :</b>
    
            @Html.DisplayFor(model => model.Country)
        </div>
         <div class="editor-label">
          <b>@Html.DisplayNameFor(model => model.Genres) :</b>
           <ul class="links-vert">
           @if(ViewBag.Language.Equals("pl")){
           foreach (var item in Model.Genres) {
  
              <li>  @item.CategoryName  </li>
           }
           }
           else{
           foreach (var item in Model.Genres) {
  
              <li>  @item.CategoryNameEn  </li>
           }
            }
          </ul>

         </div>
    
    

</div>
 
</div>
