﻿@model MyArtGallery.Models.ChangePasswordViewModel
@using Microsoft.AspNet.Identity;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @UserAccount.ChangePassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<div id="form-wrapper">
<p>@UserAccount.LoggedInAs <b>@User.Identity.GetUserName()</b></p>
<h2>@UserAccount.ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "UserProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) 
{
    Html.ValidationSummary(true);
    @Html.AntiForgeryToken()
<div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>

       <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

       <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
       <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@Resource.Save" class="sub-button"/>
            </div>
        </div>
}
<ul class="links">
    <li>@Html.ActionLink(@Resource.Back, "Index", "Home")</li>
</ul>
</div>
</div>