﻿@model MyArtGallery.Models.UserViewModels.EditProfileViewModel
@using MyArtGallery.Resources;
@using JQueryUIHelpers; 
@{
    ViewBag.Title = @UserAccount.EditProfile;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
@using (Html.BeginForm("Edit", "UserProfile", FormMethod.Post, new { @class = "image-editor", role = "form", enctype = "multipart/form-data" }))
{
<div id="form-wrapper">
<h2>@UserAccount.EditProfile</h2>

    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.X)
        @Html.HiddenFor(model => model.Y)
        @Html.HiddenFor(model => model.Height)
        @Html.HiddenFor(model => model.Width)
        @Html.HiddenFor(model => model.AvatarPath)
         <div class="form-group">
        <h5>@UserAccount.Avatar:</h5>
         <div id="default_av" class="editor-label">
              @Html.LabelFor(model => model.RemoveAvatar)
            @Html.EditorFor(model => model.RemoveAvatar)
         </div>
		<div id="isurl" class="editor-label">
            @Html.LabelFor(model => model.Url)
			@Html.EditorFor(model => model.IsUrl)
		    <div id="imgurl">
			@Html.EditorFor(model => model.Url)
		    </div>
			@Html.ValidationMessageFor(model => model.Url)
        </div>
        <div id="isfile" class="editor-label">
            @Html.LabelFor(model => model.File)
            @Html.EditorFor(model => model.IsFile)
		       <div id="imgfile">
			@Html.TextBoxFor(model => model.File, new { type = "file" })
		    </div>  
			@Html.ValidationMessageFor(model => model.File)
		</div>
		</div>
        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Email)
            
            </div>    
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.UserDescription)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserDescription)
                @Html.ValidationMessageFor(model => model.UserDescription)
            </div>
        </div>

        <div class="form-group">
                 <label for="BirthDate">@UserAccount.BirthDate </label>
                  @(Html.JQueryUI().Datepicker("BirthDate").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true).NumberOfMonths(1))
        </div>
        
         <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Country)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
            </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Genres)
            </div>
            <div class="editor-field">
                 @Html.ListBoxFor(model => model.SelectedGenres, Model.Genres as MultiSelectList)
                @Html.ValidationMessageFor(model => model.Genres)
            </div>
        </div>

        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@Resource.Save" class="sub-button"/>
            </div>
        </div>
</div>
<ul class="links">
    <li>@Html.ActionLink(@Resource.Back, "Index", "Home")</li>
</ul>
<div id="preview-wrapper">
<div id="preview-frame">
<img alt="@ImageEditorRes.NotAnImage" id="preview" src="@Url.Content(Model.AvatarPath)" />
</div>
</div>

}
</div>
@Scripts.Render("~/bundles/imageeditor")