﻿@model PagedList.IPagedList<MyArtGallery.Models.Favourite>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = ViewBag.UserName + " - " + @ImageOptions.Favourites;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<h3>@ViewBag.UserName  - @ImageOptions.Favourites</h3>
@if(Model.Count() == 0)
      {
          <p>@GalleryOptions.AlbumEmpty</p>
     }
   <ul id="photo-list">
@foreach(var item in Model){
    <li>
            <a href="@Url.Action("Details", "Picture", new { id = item.PictureId })">
                 <img alt="@item.Image.Title" src="@Url.Content(item.Image.ThumbnailUrl)" />      
           </a>
           <span>@item.Image.Title</span>
           <p class="links">@Html.ActionLink(@ImageOptions.DeleteFav, "DeleteFav", "Picture", new{id=item.FavouriteId}, null)</p>
        </li>
   
}
        </ul>

<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Favourites", new { page, id=ViewBag.UserName }), new PagedListRenderOptions
                                                             {
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
<ul class="links">
    <li>@Html.ActionLink(@Resource.Back, "Browse", "UserProfile", new{id=ViewBag.UserName}, null)</li>
</ul>
</div>

