﻿@model PagedList.IPagedList<MyArtGallery.Models.UserProfile>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Resource.Users;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<ul id="album-list">
@foreach (var item in Model) {
<li>
   <a href="@Url.Action("Browse", "UserProfile", new { id = item.UserName })">
    <img alt="@item.UserName" src="@Url.Content(item.AvatarPath)" />
   </a>
   <span>@item.UserName</span>
</li>
}
</ul>
<br />
<hr />
<div id="pager" style="width:100%">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("List", new { page }))
</div>
<ul class="links" style="width:100%"> <li>@Html.ActionLink(@Resource.Back, "Index", "Home")</li></ul>

</div>


