﻿@model MyArtGallery.Models.LoginViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @UserAccount.Login;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login">
<h2>@UserAccount.Login</h2>
@using (Html.BeginForm("Login", "UserProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
    Html.ValidationSummary(true, @UserAccount.LoginError);
    @Html.AntiForgeryToken()
        <br />

        <h4 class="error">@Model.Message</h4>
        <div class="editor-label">
           @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
          @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
           @Html.EditorFor(model => model.Password)
           @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="editor-label">
          @Html.LabelFor(model => model.RememberMe)
        </div>
        <div class="editor-field">
           @Html.EditorFor(model => model.RememberMe)
           @Html.ValidationMessageFor(model => model.RememberMe)
        </div>
        <div class="button-wrapper">
            <input type="submit" value="@UserAccount.Login" class="sub-button"/>
        </div>
}
    </div>
<ul class="links">
   <li>@Html.ActionLink(@Resource.Back, "Index","Home")</li>
</ul>


