﻿@model MyArtGallery.Models.RegistrationViewModel
@using MyArtGallery.Resources;
@using JQueryUIHelpers; 
@{
    ViewBag.Title = @UserAccount.Register;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
@using (Html.BeginForm("Register", "UserProfile", FormMethod.Post, new { @class = "image-editor", role = "form", enctype = "multipart/form-data" })) 
{
<div id="form-wrapper">
<h2>@UserAccount.Register</h2>

    @Html.ValidationSummary(true);
    @Html.AntiForgeryToken()
     @Html.HiddenFor(model => model.A)
     @Html.HiddenFor(model => model.B)
     @Html.HiddenFor(model => model.Answer)
      @Html.HiddenFor(model => model.X)
     @Html.HiddenFor(model => model.Y)
      @Html.HiddenFor(model => model.Height)
     @Html.HiddenFor(model => model.Width)
        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
            
            </div>    
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
         <div class="form-group">
        <h5>@UserAccount.Avatar:</h5>
		<div id="isurl" class="editor-label">
            @Html.LabelFor(model => model.Url)
			@Html.EditorFor(model => model.IsUrl)
		    <div id="imgurl">
			@Html.EditorFor(model => model.Url)
		    </div>
            @Html.ValidationMessageFor(model => model.Url)
        </div>
        <div id="isfile" class="editor-label">
            @Html.LabelFor(model => model.File)
            @Html.EditorFor(model => model.IsFile)
		       <div id="imgfile">
			@Html.TextBoxFor(model => model.File, new { type = "file" })
		    </div> 
            @Html.ValidationMessageFor(model => model.File) 
		</div>
		</div>
         <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Email)
            
            </div>    
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.UserDescription)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.UserDescription)
                @Html.ValidationMessageFor(model => model.UserDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

       <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
                 <label for="BirthDate">@UserAccount.BirthDate </label>
                    @(Html.JQueryUI().Datepicker("BirthDate").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true).NumberOfMonths(1))
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Country)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div>
        </div>


        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
            </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

    <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Genres)
            </div>
            <div class="editor-field">
                @Html.ListBoxFor(m => m.SelectedGenres, Model.Genres as MultiSelectList)
                @Html.ValidationMessageFor(model => model.Genres)
            </div>
        </div>
        
        <div class="form-group">
            <div class="editor-label">
            @Html.DisplayFor(model => model.A) + @Html.DisplayFor(model => model.B) 
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Result)
                @Html.ValidationMessageFor(model => model.Result)
            </div>
        </div>

        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@UserAccount.Register" class="sub-button"/>
            </div>
        </div>
</div>
<ul class="links">
   <li>@Html.ActionLink(@Resource.Back, "Index", "Home")</li>
</ul>

<div id="preview-wrapper">
<div id="preview-frame">
<img alt="" id="preview" src="@Url.Content("~/Content/Images/background_pale.png")" />
</div>
</div>
}
</div>

@Scripts.Render("~/bundles/imageeditor")