﻿@model MyArtGallery.Models.SidebarViewModel
@using MyArtGallery.Resources;
@{
        <h3>@UserAccount.Hello <i>@Html.DisplayFor(u => User.Identity.Name)</i></h3>
     
        <ul id="sidebar-options">
          
            <li>
              @if(Model.NewMessages){
                 <span class="new-messages">&nbsp&nbsp&nbsp&nbsp&nbsp</span><b>(@Model.MessageCount)</b>
              }
              @Html.ActionLink(@MessagesAndNotes.Messages, "Messages", "UserProfile", new {id = User.Identity.Name}, null)
         
              </li>
                 <li>
             @if(Model.NewNotifications){
                <span class="new-messages">&nbsp&nbsp&nbsp&nbsp&nbsp</span><b>(@Model.NotificationCount)</b>
              }
                @Html.ActionLink(@MessagesAndNotes.Notifications, "Notifications", "UserProfile", null)</li>
             @if(Model.IsModOrAdmin){
               <li>@Html.ActionLink(@Resource.AdministrationPanel, "Index", "Administration")</li>
             }
             else{
                <li>@Html.ActionLink(@Resource.AdministrationPanel, "MyProtests", "Administration")</li>
            
             }
             <li>@Html.ActionLink(@UserAccount.EditProfile, "Edit", "UserProfile", new {id = User.Identity.Name}, null)</li>
             <li>@Html.ActionLink(@UserAccount.MyGallery, "Gallery", "UserProfile", new {id = User.Identity.Name}, null)</li>
             <li>@Html.ActionLink(@UserAccount.MyFavs, "Favourites", "UserProfile", new {id = User.Identity.Name}, null)</li>
             <li>@Html.ActionLink(@UserAccount.ChangePassword, "ChangePassword", "UserProfile", null)</li>
      </ul>

}
