﻿@model PagedList.IPagedList<MyArtGallery.Models.Tag>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Resource.Tags;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<h2>@MyArtGallery.Resources.Resource.Tags</h2>
@if(User.Identity.IsAuthenticated){
<h3>
    @Html.ActionLink(@Tagging.AddTag, "NewTag")
</h3>
}
<div>
@foreach (var item in Model) {
        if(item.Pictures.Count()>1 && item.Pictures.Count()<11){
          <span class="tag0">@Html.ActionLink(item.Name, "Images", new { id=item.TagId })</span>
        }
        else if(item.Pictures.Count()>10 && item.Pictures.Count()<21){
        <span class="tag1">@Html.ActionLink(item.Name, "Images", new { id=item.TagId })</span>     
        }
        else if(item.Pictures.Count()>20 && item.Pictures.Count()<31){
        <span class="tag2">@Html.ActionLink(item.Name, "Images", new { id=item.TagId })</span>
        }
        else if(item.Pictures.Count()>30 && item.Pictures.Count()<51){
        <span class="tag3">@Html.ActionLink(item.Name, "Images", new { id=item.TagId })</span>
        }
        else if(item.Pictures.Count()>50 && item.Pictures.Count()<71){
        <span class="tag4">@Html.ActionLink(item.Name, "Images", new { id=item.TagId })</span>
        }
        else if(item.Pictures.Count()>70 && item.Pictures.Count()<101){
        <span class="tag5">@Html.ActionLink(item.Name, "Images", new { id=item.TagId })</span>
        }
        else if( item.Pictures.Count()>=100){
        <span class="tag6">@Html.ActionLink(item.Name, "Images", new { id=item.TagId })</span>
        }
        else{
        <span class="tag_empty">@Html.ActionLink(item.Name, "Images", new { id=item.TagId })</span>
        }
        
        

}
<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("AllTags", 
    new { page }), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
</div>
</div>
