﻿@model PagedList.IPagedList<MyArtGallery.Models.Picture>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Tagging.TagImages + ": "+ @ViewBag.TagName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="galery-wrapper">
<h2>@Tagging.TagImages: <b>@ViewBag.TagName</b></h2>
<ul class="links">
    <li>@Html.ActionLink(@Resource.Back, "AllTags") </li>
  <li>@Html.ActionLink(@Resource.Edit, "Edit") </li>
</ul>
<div class="editor-label">
       @if(Model.Count()==0){
    <p>@CategoryOptions.CategoryEmpty</p>
}
</div>
<ul id="photo-list">
    @foreach (var pic in Model)
    { 
        <li>
            <a href="@Url.Action("Details", "Picture", new { id = pic.PictureId})">
                 <img alt="@pic.Title" src="@Url.Content(@pic.ThumbnailUrl)" />         
            </a>
             <span>@pic.Title</span>
        </li>
    }
</ul>


<br />
<hr />
<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Images", 
    new { id = ViewBag.Id, page}), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>

</div>
