﻿@model MyArtGallery.Models.Tag
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Tagging.AddTag;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<div id="form-wrapper">
<h2>@Tagging.AddTag</h2>

@using (Html.BeginForm("NewTag", "Tag", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@Resource.Add" class="sub-button" />
            </div>
        </div>
}

<ul class="links">
   <li> @Html.ActionLink(@Resource.Back, "AllTags")</li>
</ul>
</div>
</div>