﻿@model MyArtGallery.Models.ErrorViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Errors.Error;
    Layout = "~/Views/Shared/_Layout.cshtml";
}  
<div class="title">
    <h1 class="error">@Errors.Error</h1>
    @Html.DisplayFor(model => model.Message)
</div>
<ul class="links">
<li>@Html.ActionLink(@Resource.Back, "Index","Home")
</li>
</ul>


