﻿@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Resource.Rules;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<h2>@Resource.Rules</h2>
<ul class="links">
<li>@Html.ActionLink(@Resource.English, "Rules", "Home", new{lang="en"}, null)</li>
<li>@Html.ActionLink(@Resource.Polish, "Rules", "Home", new{lang="pl"}, null)</li>
</ul>
</div>


