﻿@model MyArtGallery.Models.SearchEngineViewModels.SearchTypeViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @SearchEngine.Search;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<h2>@SearchEngine.Search</h2>
@using (Html.BeginForm("SearchMenu", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
{
     <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Phrase)
            
            </div> 
     <div class="editor-field">
                @Html.EditorFor(model => model.Phrase)
                @Html.ValidationMessageFor(model => model.Phrase)
            </div>
        </div>
     <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.SearchRange)
            </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(model => model.SearchRange)
                @Html.ValidationMessageFor(model => model.SearchRange)
            </div>
        </div>
      <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.SearchType)
            </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(model => model.SearchType)
                @Html.ValidationMessageFor(model => model.SearchType)
            </div>
        </div>
       <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@SearchEngine.Search" class="sub-button"/>
            </div>
        </div>
}
</div>
