﻿@model @MyArtGallery.Models.SearchEngineViewModels.SearchProfilesViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @SearchEngine.SearchProfiles + " - "+ @SearchEngine.AdvancedSearch;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<div id="form-wrapper">
<h3>@SearchEngine.SearchProfiles - @SearchEngine.AdvancedSearch</h3>
@using (Html.BeginForm("SearchProfilesAdvanced", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
{

      <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
            
            </div> 
     <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

     <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Genres)
            </div>
            <div class="editor-field">
                @Html.ListBoxFor(m => m.SelectedGenres, Model.Genres as MultiSelectList)
                @Html.ValidationMessageFor(model => model.Genres)
            </div>
        </div>

     <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@SearchEngine.Search" class="sub-button"/>
            </div>
        </div>
}
<ul class="links">
   <li>@Html.ActionLink(@Resource.Back, "SearchMenu", "Home", null)</li>
</ul>
</div>
</div>