﻿@model @MyArtGallery.Models.SearchEngineViewModels.SearchImagesViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @SearchEngine.SearchPictures +" - "+ @SearchEngine.AdvancedSearch;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<div id="form-wrapper">
<h3>@SearchEngine.SearchPictures - @SearchEngine.AdvancedSearch</h3>
@using (Html.BeginForm("SearchPicturesAdvanced", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
{

      <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Title)
            
            </div> 
     <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
     <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Author)
            
            </div> 
     <div class="editor-field">
                @Html.EditorFor(model => model.Author)
                @Html.ValidationMessageFor(model => model.Author)
            </div>
        </div>

     <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Description)
            
            </div> 
     <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

     <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Tags)
            
            </div> 
     <div class="editor-field">
                @Html.EditorFor(model => model.Tags)
                @Html.ValidationMessageFor(model => model.Tags)
            </div>
        </div>
      <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.AllCategories)
                </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.AllCategories)
                @Html.ValidationMessageFor(model => model.AllCategories)
            </div>
        </div>
     <div class="form-group">
            <div class="editor-label">
            @ImageOptions.Category
                </div>
            <div class="editor-field">
                 @Html.DropDownListFor(m => m.CategoryId, Model.Categories)
            </div>
        </div>

     <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@SearchEngine.Search" class="sub-button"/>
            </div>
        </div>
}
<ul class="links">
    <li>@Html.ActionLink(@Resource.Back, "SearchMenu", "Home", null)</li>
</ul>
</div>
</div>