﻿@model PagedList.IPagedList<MyArtGallery.Models.Picture>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @SearchEngine.SearchResultPictures;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@SearchEngine.SearchResultPictures</h3>
<p>@SearchEngine.ResultCount: @Model.Count()</p>
<div id="gallery-wrapper">
  <div class="editor-label">
       @if(Model.Count()==0){
    <p>@SearchEngine.ResultEmptyPictures</p>
}
</div>
<ul id="protest-list">
    @foreach (var pic in Model)
    { 
        <li>
            <div class="author">
            <a class="avatar" href="@Url.Action("Details", "Picture", new { id = pic.PictureId})">
                 <img alt="@pic.Title" src="@Url.Content(@pic.ThumbnailUrl)" />        
            </a>
            </div>
            <div class="comment">
             <h4>@pic.Title</h4>
             <p>@Resource.Tags</p>
             @foreach (var item in pic.Tags)
             { 
               <span class="tag2">@Html.ActionLink(item.Name, "Images", "Tag", new { id=item.TagId }, null)</span>
             }
            </div>
        </li>
    }
</ul>


<br />
<hr />
<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("SearchPicturesAdvanced", 
    new { model = ViewBag.Model, page}), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>   
</div>
<ul class="links">
 <li>@Html.ActionLink(@Resource.Back, "SearchPicturesAdvanced", "Home", new {phrase = ""}, null)</li>
</ul>
