﻿@model PagedList.IPagedList<MyArtGallery.Models.Picture>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @SearchEngine.SearchResultPictures;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="search">

<h3>@SearchEngine.SearchResultPictures</h3>
<p>@SearchEngine.ResultCount: @Model.Count()</p>
@using (Html.BeginForm("SearchPictures", "Home", FormMethod.Get, new { @class = "form-horizontal"}))
{
  @Html.TextBox("phrase")
<input type="submit" value="@SearchEngine.Search" class="sub-button"/>
}
</div>
<div id="gallery-wrapper">
    @if(Model.Count()==0){
    <p>@SearchEngine.ResultEmptyPictures</p>
}
<ul id="protest-list">
    @foreach (var pic in Model)
    { 
        <li>
             <div class="author">
            <a class="avatar" href="@Url.Action("Details", "Picture", new { id = pic.PictureId})">
                 <img alt="@pic.Title" src="@Url.Content(@pic.ThumbnailUrl)" />
          
            </a>
            </div>
            <div class="comment">
             <h4>@pic.Title</h4>
             <p>@Resource.Tags</p>
             @foreach (var item in pic.Tags)
             { 
               <span class="tag2">@Html.ActionLink(item.Name, "Images", "Tag", new { id=item.TagId }, null)</span>
             }
            </div>
        </li>
    }
</ul>


<br />
<hr />
<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("SearchPictures", 
    new { phrase = ViewBag.Phrase, page}), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>   
</div>
<ul class="links">
 <li>@Html.ActionLink(@Resource.Back, "SearchMenu", "Home", null)</li>
 <li>@Html.ActionLink(@SearchEngine.AdvancedSearch, "SearchPicturesAdvanced", "Home", new {id = ViewBag.Phrase}, null)</li>
</ul>

