﻿@model PagedList.IPagedList<MyArtGallery.Models.UserProfile>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @SearchEngine.SearchResultProfiles;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="search">
<h3>@SearchEngine.SearchResultProfiles</h3>
<p>@SearchEngine.ResultCount: @Model.Count()</p>
@using (Html.BeginForm("SearchProfiles", "Home", FormMethod.Get, new { @class = "form-horizontal"}))
{
  @Html.TextBox("phrase")
<input type="submit" value="@SearchEngine.Search" class="sub-button"/>
}
</div>
<div id="gallery-wrapper">
       @if(Model.Count()==0){
    <p>@SearchEngine.ResultEmptyProfiles</p>
}
<ul id="protest-list">
@foreach (var user in Model) {
<li>
  <div class="author">
   <a class="avatar" href="@Url.Action("Browse", "UserProfile", new { id = user.UserName })">
    <img alt="@user.UserName" src="@Url.Content(user.AvatarPath)" />
   </a>
   </div>
   <div class="comment">
   <h4>@user.UserName</h4>
   <p>@Resource.Genres: </p>
<p>
    @foreach (var item in user.Genres)
             { 
               if(item.Parent!=null){<b>  @item.Parent.CategoryName >             @Html.ActionLink(item.CategoryName, "Images", "Category", new { id=item.CategoryId }, null)</b>} 
               else{<b>@Html.ActionLink(item.CategoryName, "Images", "Category", new { id=item.CategoryId }, null)</b>}
             }
</p>
   </div>
</li>
}
</ul>

<div id="pager" style="width:100%">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("SearchProfiles", 
    new { phrase = ViewBag.Phrase, page}), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div> 
<ul class="links">
<li>@Html.ActionLink(@Resource.Back, "SearchMenu", "Home", null)</li>
 <li>@Html.ActionLink(@SearchEngine.AdvancedSearch, "SearchProfilesAdvanced", "Home", new {id = ViewBag.Phrase}, null)</li>
</ul>
</div>

