﻿html {
    background-color: #b8ca79;
    margin: 0;
    padding: 0;
}
body {
    background-color: #b8ca79;
    width:100%;
    height:100%;
    color: #3f3f3f;
    font-size: .85em;
    float:left;
    font-family: Constantia, Georgia, serif;
    margin: 0;
    padding: 0;
}
a {
    color: #cde187;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}
    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }
    a:hover {
        background-color: #cde187;
        text-decoration: underline;
    }
#header
{
	float: left;
	width: 100%;
    min-height:60px;
    height:80px;
	border-bottom: 1px dotted #5D5A53;
	margin-bottom: 10px;
    font-family: Constantia, Georgia, serif;
}
#header h1
{
	font-size: 1.35em;
	float: left;
    height:50px;
    width:100px;
	background: url(/content/Images/logo.png) no-repeat;
	padding: 45px 0px 5px 0px;
}
#header p
{
	font-size: 20px;
	float: left;
	padding: 45px 0px 5px 0px;
}
#start-list {
    font-size:1.5em;
}
#start-list a{
        padding:10px;
        height:25px;
        max-width:30%;
        margin: 20px, 20px, 20px, 20px;
    }
#scroll {
    overflow-y:scroll;
}
.float-left {
    float: left;
    max-height:100px;
    width:50%;
}

.float-right {
    float: right;
    width:50%;
}

h1, h2, h3,
h4, h5, h6 {
    color: #89a820;
    margin-bottom: 2px;
    padding-bottom: 0;
    text-decoration:none;
    text-transform:uppercase;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

h4, h5, h6 {
    font-size: 1em;
}
/******************** Menu nagłówka i stopki ************************/
ul#navlist, ul#footer-navlist
{
	float: right;
}

ul#navlist li, ul#footer-navlist li
{
	display: inline;
}

ul#navlist li a, ul#footer-navlist li a
{
	border-left: 1px dotted #8A8575;
	padding: 10px;
	margin-top: 10px;
	color: #8A8575;
	text-decoration: none;
	float: left;
}

ul#navlist li:first-child a, ul#footer-navlist li:first-child a
{
	border: none;
}

ul#navlist li a:hover, ul#footer-navlist li a:hover
{
    background-color: #cde187;
	color: #F6855E;
}
/* zawartosc strony - zmienna */
#content {
    background-color:#6d6a64;
    overflow-x: hidden;
    overflow-y:visible;
	padding: 0 0 0px 0px;
    height:100%;
    min-height:500px;
    width:100%;
	float:left;
}
#main-content {
    width:80%; 
    float:left; 
    margin-left:0px; 
    min-height:400px;
}
/* stopka - stała*/
#footer
{   
    clear: both;
	padding: 10px;
	text-align: left;
    max-height:50px;
	font-family: Constantia, Georgia, serif;
}
/* narzędzia językowe */
#lang-tools{
    float:left;
    text-align:right;
    height:30px;
}
#pl{
    background-image:url(/content/Images/pl.png);
    height:16px;
    width:25px;
    margin-left:5px;
    color:transparent;
}
#en{
    background-image:url(/content/Images/en.png);
    height:16px;
    width:25px;
    margin-left:10px;
    color:transparent;
}
/* login */
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: left;
}
    #login a {
        background-color: #cde187;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }
    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }
    #login ul {
        margin: 0;
    }
    #login li {
        display: inline;
        list-style: none;
    }
/* kategorie i tagi */
#categories {
    width:100%;
    height:100%;
    padding:20px;
}
.tag_empty {
    font-style:italic;
    font-size:1em;
}
.tag0 {
    font-weight:bold;
    font-size:1em;
}
.tag1 {
    font-weight:bold;
    font-size:1.1em;
}
.tag2 {
    font-weight:bold;
    font-size:1.2em;
}
.tag3 {
    font-weight:bold;
    font-size:1.3em;
}
.tag4 {
    font-weight:bold;
    font-size:1.5em;
}
.tag5 {
    font-weight:bold;
    font-size:1.7em;
}
.tag6 {
    font-weight:bold;
    font-size:2em;
}
.tag7 {
    font-weight:bold;
    font-size:2.5em;
}
/* profil / strona obrazka /albumu - uniwersalny wzór */
#profile-wrapper {
    width:100%;
    height:100%;
    min-width:100%;
    min-height:100%;
}
#featured{
    background-color:#8A8575;
    width:79%;
    height:100%;
    min-height:500px;
    height:inherit;
    float:left;
    text-align:center;
    vertical-align:central;
}
    #featured h1, h2, h3, h4, h5, h6 {
        color:#72941c;
    }
#info{
    width:20%;
    min-height:500px;
    float:left;
    height:100%;
    text-align:left;
    margin-left:5px;
    overflow-y:visible;
}
#albums-wrapper {
    height:100%;
    width:100%;
    min-height:500px;
    min-width:100%;
}
#images-wrapper {
    height:100%;
    width:100%;
    min-height:500px;
    min-width:100%;
}
#avatar-frame {
    width:100%;
    height:200px;
    float:right;
    text-align:center;
    border: 1px solid #9b9993;
}
#avatar-icon {
    height:40px;
    width:40px;
    text-align:center;
    border: 4px solid #9b9993;
}

#list-wrapper {
    width:100%;
}
#pager {
    width:100%;
    min-width:100%;
}
.highlight {
   font-size:1.15em;
   color:#b8ca79;
   font-weight:bold;
   text-align:center;
}

.highlight1 {
   font-size:1.15em;
   text-align:center;
   color:#F6855E;
}
/* znikające divy - komentarze i menu obrazu */
#top, #bottom{
    width:100%;
}
#confirm {
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:central;
    font-weight:bold;
}
/* formularz dodawania i edycji obrazka - znikające divy */
#imgurl {
    height:40px;
}
#imgfile {
    height:40px;
}
#isurl, #isfile {
    height:80px;
}
#default_av {
    width:100%;
}
#replacements {
    height:200px;
}
 /* wiadomości i powiadomienia */
#message-list, #note-list{
    margin-left:20px;
    margin-top:20px;
}
.author-name{
    color:#89a820;
    font-weight:bold;
}
.message-frame{
    border: 1px dotted #89a820;
    border-radius:5px, 5px, 5px, 5px;
    margin-left:20px;
    padding:10px, 10px, 10px, 10px;
    font-size:1.2em;
    text-align:left;
    width:50%;
}
/* listy */
#gallery-wrapper {
    width:100%;
    height:75%;
    min-width:100%;
    margin-left:25px;
    margin-top:15px;
    min-height:800px;
    max-height:1000px;
}
    #gallery-wrapper h1, h2, h3,
    h4, h5, h6 {
        margin-left:30px;
    }
#tabs-menu {
    width:100%;
    height:30px;
}
#tabs-wrapper {
    width:100%;
    clear:left;
}
ul
{
	list-style-type: none;
    padding: 0;
	font-size: 14px;
}
ul.links 
{
    list-style:none;
}
     ul.links li{
        display:inline;
        height:10px;
        margin-top:20px;
        text-align:center;
     }
    ul.links li a{
        border-left: 1px solid #89a820;
	    padding: 10px;
	    margin-top: 10px;  
        font-weight:bold;
        width:100%;
        color:#333;
        margin-left:0;
        text-transform:uppercase;  
    }
    ul.links li a.active{
        color:#89a820;
        text-transform:uppercase; 
        font-style:italic; 
        font-weight:bolder;
    }
    ul.links li:first-child a {
        border:none;
    }
ul.links-vert
{
    margin-top:15px;
    list-style:none;
}
     ul.links-vert li{
        display:block;
        height:10px;
        color:#89a820;
        margin-top:10px;
        font-size:1.2em;
        text-align:left;
     }
    ul.links-vert li a{
        border-left: 1px solid #89a820;
	    padding: 0px;
	    margin-top: 0px;  
        font-weight:bold;
        width:100%;
        color:#333;
        margin-left:5px;
        text-transform:uppercase;  
    }
    ul.links-vert li:first-child a {
        border:none;
    }
ul#protest-list
{
	list-style:none;
    width:100%;
    min-width:100%;
    min-height:100%;
    height:100%;
    padding:0;
    margin:0;
}
ul#protest-list li
{
	width: 100%;
	float: left;
    height:150px;
    max-height:150px;
    color:#89a820;
    border:1px dotted #89a820;
	margin-left: 5px;
	text-align: left;
}
ul#protest-list li span
{
	color: #89a820;
	text-decoration: none;
}
ul#protest-list li a
{
	font-size: 14px;
    color:#333;
    text-transform:uppercase;
}
 ul#protest-list li a.avatar
{
	float: left;
    height:150px;
    width:150px;
    color:#333;
    margin-right:20px;
    text-transform:uppercase;
    line-height:150px;
}
 ul#protest-list li a.avatar img
{
    vertical-align:middle;
	max-height:150px;
    max-width:150px;
}
    ul#protest-list li a:hover {
        background-color: #cde187;
        color: #333;
    }
ul#album-list
{
	list-style:none;
    min-height:400px;
    width:100%;
    min-width:100%;
    padding:0;
    margin:0;
}
ul#album-list li
{
	height: 170px;
	width: 150px;
	float: left;
	margin-left: 5px;
	text-align: center;
    border:1px dotted #89a820;
    overflow:hidden;
}
ul#album-list li span
{
	color: #89a820;
	text-decoration: none;
}
ul#album-list li a, ul#album-list li .button
{
    height: 150px;
	width: 100%;
	font-size: 12px;
	float: left;
    text-align:center;
    line-height:150px;
}
    ul#album-list li a:hover {
        background-color: #cde187;
        color: #333;
    }
        ul#album-list li a img {
        vertical-align:middle;
        max-width:150px;
        max-height:150px;
    }
#albums-horizontal {
   height:200px; 
   width:100%; 
   overflow-x:scroll; 
   overflow-y:hidden;
}
ul#album-list-horizontal
{
	list-style:none;
    min-height:120px;
    height:150%;
    width:100%;
    min-width:100%;
    padding:0;
    margin:0;
}
ul#album-list-horizontal li
{
	height: 100%;
    min-height:100%;
	width: 150px;
	float: left;
	margin-left: 5px;
	text-align: center;
    display:inline;
    border:1px dotted #89a820;
    overflow:hidden;
}
ul#album-list-horizontal li span
{
	color: #333;
	text-decoration: none;

}
ul#album-list-horizontal li a, ul#album-list-horizontal li .button
{
    height: 120px;
	width: 100%;
	font-size: 12px;
	float: left;
    text-align:center;
    line-height:120px;
}
    ul#album-list-horizontal li a:hover {
        background-color: #cde187;
        color: #333;
    }
        ul#album-list-horizontal li a img {
        vertical-align:middle;
        max-width:100px;
        max-height:100px;
    }
ul#photo-list
{
	list-style:none;
    width:100%;
    min-width:100%;
    min-height:400px;
    padding:0;
    margin:0;
}
ul#photo-list li
{
	height: 170px;
    width:22.5%;
	float: left;
    padding:0;
	margin-left: 5px;
	text-align: center;
    border:1px dotted #89a820;
    overflow:hidden;
}
ul#photo-list li span
{
	color: #89a820;
	text-decoration:none;
}
ul#photo-list li a, ul#photo-list li .button
{
	font-size: 12px;
    text-align:center;
    width:100%;
    height:150px;
    max-height:150px;
	float: left;
    line-height:150px;
}
    ul#photo-list li a img {
        vertical-align:middle;
        max-width:150px;
        max-height:150px;
    }
ul#photo-list li a:hover {
        background-color: #cde187;
        color: #333;
    }
ul#featured-images
{
	list-style:none;
    width:100%;
    min-width:inherit;
    min-height:400px;
    padding:0;
    margin: 0;
}
ul#featured-images li
{
	min-height: 150px;
    height:170px;
	width: 30%;
	float: left;
	margin-left: 5px;
    padding:0;
	text-align:center;
    border:1px dotted #89a820;
    overflow:visible;
}
ul#featured-images li span
{
	color: #333;
	font-weight:bold;
}
ul#featured-images li a
{
    width:100%;
    height:150px;
	font-size: 12px;
    text-align:center;
	float: left;
    line-height:150px;
}
ul#featured-images li a :hover
{
    background-color:transparent;
}
ul#featured-images li a img {
        vertical-align:middle;
        max-width:150px;
        max-height:150px;
    }
ul#comment-list
{
    width:100%;
	list-style: none;
	margin-left: 0px;
    text-align:left;
}
    ul#comment-list li{
        width:100%;
        min-width:100%;
        border-bottom:1px solid #89a820;
        float:left;
    }
        ul#comment-list li a {
        }
        ul#comment-list li a:hover {
        color: #333;
    }
ul#comment-list li .avatar
{
    float:left;
    margin-left:10px;
	font-size: 14px;
    width:15%;
}
ul#comment-list li a span
{
	color: #89a820;
	text-decoration: none;
}
ul#comment-list li p
{
	width:100%;
}
.author {
    min-width:20%;
    width:20%;
    height:100%;
    text-align:center;
    float:left;
}
    .author a {
        width:100%;
        line-height:20px;
    }
#comments-wrapper {
    text-align:left;
}
#comment {
    width:100%;
    height:100%;
    float:left;
}
.comment {
    width:80%;
    max-width:80%;
    float:left;
}
.pluses {
    font-size:1.1em;
    color:#246b1e;
}
.plus-button {
    height:25px;
    width:25px;
    max-height:25px;
    max-width:25px;
    padding:0;
    margin:0;
    background-image:url(/content/Images/plus.png);
    background-repeat:no-repeat;
    color:transparent;
}
.minuses {
    font-size:1.1em;
    color:#e80c4d;
}
.minus-button {
    height:25px;
    width:25px;
    max-height:25px;
    max-width:25px;
    padding:0;
    margin:0;
    background-image:url(/content/Images/minus.png);
    background-repeat:no-repeat;
    color:transparent;
}
.add-comment {
    width:100%;
    height:250px;
    text-align:left;
}
#replies{
    width:66%;
    min-height:25px;
    margin-left:25px;
    text-align:left;
}
.author {
    font-weight:bold;
    color:#F6855E;
}
.reply {
    text-transform:uppercase;
}
.links {
    font-weight:bold;
    color:#89a820;
    margin-left:5px;
    text-transform:uppercase;
}
.comment-menu {
    font-weight:bold;
    color:#89a820;
    width:100%;
    margin:0;
    text-transform:uppercase;
}
.links2 {
    font-weight:bold;
    text-transform:uppercase;
    margin-left:0px;
    color:#F6855E;
}
#options {
    width:100%;
    margin-top:15px;
    padding:10px;
    float:left;
}
/* obraz - pełny rozmiar */
#fullsize {
    width:100%;
    height:100%;
    height:100%;
    overflow-y:visible;
    overflow-x:scroll;
    text-align:center;
    background-color:#333;
}
    #fullsize a {
         width:100%;
         height:100%;
         max-width:1200px;
         max-height:800px;
         line-height:150px;
    }
        #fullsize a img {
             vertical-align:middle;
        }
/* formularze */
form {
    width:100%;
}
.rating-form {
    height:30px;
    width:30px;
    display:inline;
    float:left;
}
#return {
    color:#89a820;
    text-transform:uppercase;
    font-weight:bolder;
    width:100%;
    float:left;
}
.form-horizontal{
    border: none;
    margin-left: 20px;
    width:300px;
    padding: 0;
    font-family:inherit;
}
.image-editor {
   border: none;
    margin-left: 20px;
    width:100%;
    padding: 0;
    font-family:inherit;
}
.form-group {
        padding: 0;
        border:1px solid #999;
        width:100%;
        float:left;
    }
#category, #title {
    text-transform:uppercase;
    color:#333;
}

.editor-field{
            padding: 5px, 5px, 5px,5px;
            width:100%;
        }
.editor-label{
            padding-bottom: 0;
            width:100%;
        }
.display-field {
            font-weight:bold;
            color:#89a820;
}
.form-small{
    border: 1px dotted #89a820;
    margin: 0;
    margin-bottom:30px;
    padding: 0;
    font-family:inherit;
}
     .form-small button {
         float:left;
         height:25px;

}
.field-small {
    width:70%;
    height:25px;
    display:inline;
}
#form-wrapper {
    width:33%;
    min-height:100%;
    height:100%;
    float:left;
}

#preview-wrapper {
   width:66%;
   float:left;
   text-align:left;    
}
#preview {
    width:400px;
    margin-top: 30px;
    margin-left: 30px;
    resize:both;
}
label {
    display: inline;
    font-size: 1.2em;
    font-weight: 600;
    max-width:80%;
    float:left;
}
label.checkbox {
    display: inline;
}
input, textarea {
    border: 1px solid #dbe4bc;
    background: #fff;
    color: #333;
    font-family: Constantia, Georgia, serif;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
}
select {
    width:100%;
} 
textarea {
    width:95%;
} 
    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: #f1fbcc;
        border: inherit;
        width: 15%;
        float:left;
    }

    input[type="textarea"] {
        background: #f1fbcc;
        border: inherit;
        width: 95%;
    }
    input[type="file"] {
        background: #f1fbcc;
        border: inherit;
        width: 95%;
    }
    input[type="password"] {
        background: #f1fbcc;
        border: inherit;
        width: 95%;
    }
    input[type="text"] {
        background:#f1fbcc;
        border: inherit;
        width: 95%;
    }
    input[type="submit"],
    input[type="button"],
    button {
        font-size: 1em;
        padding: 4px;
        height:100%;
        margin-right: 4px;
    }
.sub-button {
        background-color: #cde187;
        border: 1px solid #b8ca79;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
        text-align:center;
}
.button-wrapper {
    text-align:center;
}
.error {
    color: #e80c4d;
}
/* walidacja */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #e80c4d;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}
.validation-summary-valid {
    display: none;
}
/*obraz - rozmiar średni*/
.photo-frame {
    height:600px;
    width:600px;
    max-height:600px;
    max-width:600px;
}
    .photo-frame a {
           height:100%;
           width:100%;
           max-height:600px;
           max-width:600px;
           line-height:150px;
    }
    .photo-frame img {
        vertical-align:middle;
    }
/***************************** menu boczne ****************************/
#sidebar-wrapper
{
    width:15%; 
    min-height:400px;
    float:left; 
    height:100%;
}
    #sidebar-wrapper h1,h2,h3,h4,h5 {
        color:#7B971C;
        text-transform:none;
    }
ul#sidebar-options 
{
    font-family:inherit;
    font-size:0.9em;
    font-weight:bolder;
	margin:0;
    padding: 0;
    list-style:none;
    width:100%;
    min-width:100px;
	float:left;
}
ul#sidebar-options li
{
         background-image:url(/content/Images/sidebar_button1.png);
         background-repeat:repeat-x;
         color: #333;
         height:40px;
         width:100%;
         text-align:center;
}
    ul#sidebar-options li a {
        text-transform:uppercase;
        vertical-align:middle;
    }
ul#sidebar-options li:hover, ul#sidebar-options a:hover
{
         background-image:url(/content/Images/sidebar_button.png);
         background-repeat:repeat-x;    
         color: #333;
         font-size:1.1em;
         font-weight:bolder;
}   
.new-messages {
    background-image:url(/content/Images/message1.png);
    background-repeat:no-repeat;
    background-position-x:left;
}


