﻿@model PagedList.IPagedList<MyArtGallery.Models.Picture>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @CategoryOptions.CategoryImages + " "+ ViewBag.Category.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="galery-wrapper">
   
    <div class="editor-label">
 
          @if(ViewBag.Language.Equals("pl")){
           <h4> @ViewBag.Category.CategoryName</h4>
          }
          else{
            <h4> @ViewBag.Category.CategoryNameEn</h4>
          }
        </div>
     <div class="editor-label"> @foreach (var item in ViewBag.Category.SubCategories){
      <a href="@Url.Action("Images", "Category", new { id = item.CategoryId})">
                     <span> 
                      @if(ViewBag.Language.Equals("pl")){
                          <b>@item.CategoryName</b>
                      }
                      else{
                          <b>@item.CategoryNameEn</b>
                      }
                    </span>
                  
            </a>
   }</div>
       @if(Model.Count()==0){
    <p>@CategoryOptions.CategoryEmpty</p>
}
<ul id="photo-list">
    @foreach (var pic in Model)
    {
        <li>            
            <a href="@Url.Action("Details", "Picture", new { id = pic.PictureId})">
                 <img alt="@pic.Title" src="@Url.Content(@pic.ThumbnailUrl)" />
          
            </a>
            <span>@pic.Title</span> 
        </li>
    }
</ul>
<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Images", 
    new { id = ViewBag.Category.CategoryId, page}), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
<ul class="links">
<li>@Html.ActionLink(@Resource.Back, "Index", "Category")</li>
<li>@Html.ActionLink(@Resource.Tags, "AllTags", "Tag")</li>
        
</ul>
    </div>

