﻿@model IEnumerable<MyArtGallery.Models.Category>
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @CategoryOptions.CategoryList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="categories">
<h2>@CategoryOptions.CategoryList:</h2>

<table class="table">
@foreach (var item in Model) {
    <tr>
    @if(ViewBag.Language.Equals("pl")){
        if(item.ParentId!=null){
          <td>          
            <b>@item.Parent.CategoryName > </b> 
            <i>    @Html.ActionLink(item.CategoryName, "Images", new { id=item.CategoryId})</i>       
          </td>
        }
        else{
          <td><b>    @Html.ActionLink(item.CategoryName, "Images", new { id=item.CategoryId})</b></td>
        }
   }
   else{
        if(item.ParentId!=null){
        <td>          
            <b>@item.Parent.CategoryNameEn > </b> 
            <i>    @Html.ActionLink(item.CategoryNameEn, "Images", new { id=item.CategoryId})</i>       
        </td>
        }
        else{
        <td><b>    @Html.ActionLink(item.CategoryNameEn, "Images", new { id=item.CategoryId})</b></td>
        }
   }
     
    </tr>

}

</table>
</div>