﻿@model IEnumerable<MyArtGallery.Models.Category>
@using MyArtGallery.Resources;
<div id="start-list">
@foreach (var item in Model) {
         
           <a href="@Url.Action("Images", "Category",
                new { id = item.CategoryId})">
                     <span> <b>@item.CategoryName</b>
                   <i>@item.CategoryNameEn</i>
            </span>
            </a>     
}
</div>
<br />
<ul class="links">
  <li>@Html.ActionLink(@CategoryOptions.FullCategoryList, "Index")</li>
   <li>@Html.ActionLink(@Resource.Tags, "AllTags", "Tag")</li>
</ul>
