﻿@model MyArtGallery.Models.GalleryViewModels.AddAlbumViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @GalleryOptions.AddAlbum;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gallery-wrapper">
<div id="form-wrapper">

@using (Html.BeginForm("Add", "Album", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
{
    @Html.AntiForgeryToken()
    
        <h4>@GalleryOptions.AddAlbum</h4>
        @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.UserProfileId)
          @Html.HiddenFor(model => model.ParentId)
        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Title)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Description)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

    

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Public)
                </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.Public)
                @Html.ValidationMessageFor(model => model.Public)
            </div>
        </div>

        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@Resource.Add" class="sub-button" />
            </div>
        </div>
}
<ul class="links">
    <li> @Html.ActionLink(@Resource.Back, "Browse", "UserProfile", new { id = Model.UserProfileId }, null)</li>
</ul>
</div>
</div>