﻿@model MyArtGallery.Models.Album
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Model.UserName +": " + @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="profile-wrapper">

<div id="featured">
       
    <h2> @Model.UserName  - <b style="color:#89a820"> @Model.Title</b></h2>
<p>@Model.Description</p>
      <ul class="links">
          
      @if(Model.UserName.Equals(User.Identity.Name)){

           <li>@Html.ActionLink(@ImageOptions.AddImage,"Add", "Picture", new{id=Model.AlbumId}, null) </li>
           <li> @Html.ActionLink(@GalleryOptions.AddAlbum, "Add", "Album", new { id = Model.AlbumId }, null)</li>
       }
      else{
           <li>@Html.ActionLink(@UserAccount.UserPictures, "ListByAuthor","Picture", new { id = Model.UserName }, null)</li>

       }
     </ul>
     @if (Model.Pictures.Count() == 0)
      {
          <p>@GalleryOptions.AlbumEmpty</p>
     }
    else{
      <div id="pics">
      @{Html.RenderAction("Pictures", "Album", new{ path = Model.Path});}
     </div>
    }
<div style="width:100%">
@if(@Model.UserName==@User.Identity.Name){

if(Model.ParentId!=null){
 Html.RenderAction("Move", "Album", new{ path=Model.Path});

}
}
</div>
<hr />
<ul class="links">
    
    @if(Model.ParentId==null){
    <li> @Html.ActionLink(@Resource.Back, "Browse", "UserProfile", new{ id = Model.UserProfile.UserName }, null)  </li>
     }
    else{
     <li> @Html.ActionLink(@Resource.Back, "Browse", "Album", new{ path = Model.Parent.Path }, null) </li> }
    @if(Model.UserName.Equals(User.Identity.Name)){
    <li>@Html.ActionLink(@Resource.Edit, "Edit", new { path = Model.Path })</li>
    <li>@Html.ActionLink(@Resource.Delete, "Delete", new { id = Model.AlbumId }) </li>
    }
</ul>
</div>
<div id="info">
<div id="albums">
 @{Html.RenderAction("SubAlbums", "Album", new{ path = Model.Path});}
</div>
</div>

</div>

