﻿@model MyArtGallery.Models.Album
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Resources.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gallery-wrapper">
<h3>@Resource.DeletionConfirm @GalleryOptions.Album?</h3>

 @using (Html.BeginForm("Delete", "Album", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.AlbumId)
    @Html.HiddenFor(model => model.SubAlbums)
    @Html.HiddenFor(model => model.Pictures)
    @Html.HiddenFor(model => model.Path)
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastModifiedDate)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubAlbums)
    </div>
    <div class="display-field">
        @foreach (var item in Model.SubAlbums) {
            <p>@item.Title</p>
         }
        @Html.ValidationMessageFor(model => model.SubAlbums)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pictures)
    </div>
    <div class="display-field">
        @foreach (var item in Model.Pictures) {
            <p>@item.Title</p>
         }
        @Html.ValidationMessageFor(model => model.Pictures)
    </div>
        <div class="button-wrapper">
            <input type="submit" value="@Resource.Yes" class="sub-button"/> |
            @Html.ActionLink(@Resource.No, "Browse", new { id=Model.Path }, null)
        </div>
    }
</div>
