﻿@model MyArtGallery.Models.GalleryViewModels.EditAlbumViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Resource.EditProperties;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gallery-wrapper">
<div id="form-wrapper">
@using (Html.BeginForm("Edit", "Album", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    
        <h4>@GalleryOptions.Album</h4>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Path)

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Title)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Description)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Public)
                </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.Public)
                @Html.ValidationMessageFor(model => model.Public)
            </div>
        </div>

@*       <div class="form-group">
            <div class="editor-label">
            @MyArtGallery.Resources.Resource.Cover
                </div>
            <div class="editor-field">
                 @Html.DropDownListFor(m => m.CoverId, Model.Images)
                @Html.ValidationMessageFor(model => model.CoverId)
            </div>
        </div>*@


        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@Resource.Save" class="sub-button"/>
            </div>
        </div>
}

<ul class="links">
  <li>@Html.ActionLink(@Resource.Back, "Browse", new { path = Model.Path }, null)</li>  
</ul>
</div>
</div>