﻿@model MyArtGallery.Models.GalleryViewModels.MoveAlbumViewModel
@using MyArtGallery.Resources;
@using (Html.BeginForm("Move", "Album", FormMethod.Post, new { @class = "form-small", role = "form"})) 
{
   <b>                @GalleryOptions.MoveAlbum</b>
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.Path)
        <div class="form-group">
            <div class="button-wrapper">

                 @Html.DropDownListFor(m => m.AlbumId, Model.Albums)
                <input type="submit" value="@Resource.Move" class="sub-button" />
            </div>
</div>
}
