﻿@model MyArtGallery.Models.Album
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Errors.NameCollision;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
<h3>@Errors.AlbumMoveError</h3>
<p>@Errors.AlbumNameCollision</p>
<ul class="links">
<li>@Html.ActionLink(@GalleryOptions.ChangeAlbumName, "Edit", "Album", new { path = Model.Path }, null) </li>
<li>@Html.ActionLink(@GalleryOptions.BackToAlbum, "Browse", "Album", new { path = Model.Path }, null) </li>


</ul>
</div>
