﻿@model PagedList.IPagedList<MyArtGallery.Models.Picture>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
<script type="text/javascript">
        $(function () {
            $('#picture-pager').on('click', 'a', function () {
                if (this.href == "") { return; }
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#photo-list').html(result);
                    }
                });
                return false;
            });
        });
</script>
<div id="photo-list">
<div id="list-wrapper">
    <ul id="photo-list">
@foreach (var item in Model) {
    <li>
            <a href="@Url.Action("Details", "Picture", new { id = item.PictureId })">
            @if (item.ThumbnailUrl == null)
            {
                  <img alt="@item.Title" src="@Url.Content("~/Content/Images/defaulticon.png")" />
            }else{
                 <img alt="@item.Title" src="@Url.Content(item.ThumbnailUrl)" />
                }

            </a>
          <span>@item.Title</span> 
        </li>
    
}
        </ul>
</div>
<div id="picture-pager">
@Html.PagedListPager(Model, page => Url.Action("Pictures", new { page, path=ViewBag.Path }), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
</div>




