﻿@model PagedList.IPagedList<MyArtGallery.Models.Album>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
<script type="text/javascript">
        $(function () {
            $('#album-pager').on('click', 'a', function () {
                if (this.href == "") { return; }
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#albums-wrapper').html(result);
                    }
                });
                return false;
            });
        });
</script>
<div id="albums-wrapper">
<h4>@GalleryOptions.SubAlbums</h4>
<ul id="album-list">
  @foreach (var album in Model)
    {
        <li>
            <a href="@Url.Action("Browse", "Album", new { path = album.Path })">
                 <img alt="@album.Title" src="@Url.Content(album.CoverUrl)" />
             
           
             </a>
           <span>@album.Title</span>
        </li>
    }
        </ul>
<div id="album-pager">
@Html.PagedListPager(Model, page => Url.Action("SubAlbums", new { page, path=ViewBag.Path }), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
</div>