﻿@model IEnumerable<MyArtGallery.Models.Album>
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @ViewBag.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
    $('#album-list li:first a').click();
    $('#album-list-horizontal').on('click', 'a', function () {
        $.ajax({
            url: this.href,
            type: 'GET',
            cache: false,
            success: function (result) {
                $('#album-content').html(result);
                $('html, body').animate({ scrollTop: 800 }, 0);
            }

        });
        return false;
    });


});
</script>
<div id="gallery-wrapper">
<div id="albums-horizontal">
<ul id="album-list-horizontal">
  @foreach (var album in Model)
    {
        <li>
            <a href="@Url.Action("Pictures", "Album", new { path = album.Path })">
                 <img alt="@album.Title" src="@Url.Content(album.CoverUrl)" />
              
             </a>
          <span>@album.Title</span>
        </li>
    }
        </ul>
</div>
<div id="album-content">

</div>
</div>

<br />
<hr />
<ul class="links">
    <li> @Html.ActionLink(@Resource.Back, "Browse", "UserProfile", new { id = ViewBag.UserName }, null)</li>
</ul>

