﻿@model MyArtGallery.Models.GalleryViewModels.RemoveCommentViewModel
@using MyArtGallery.Resources;
<div id="comment">
     <h3 class="dark">@Resource.DeletionConfirm @CommentOptions.Comment ?</h3>
    <p><b>@Model.Comm.UserName</b>@Model.Comm.EditedDate</p>
        <p>   @Model.Comm.Text</p>


    @using(Html.BeginForm("Delete", "Comment", FormMethod.Post, new{@class="form-horizontal", role="form"}))
    {
        @Html.HiddenFor(model => model.CommentId)
        <div class="button-wrapper">
            <input type="submit" value="@Resource.Yes"  class="sub-button"/>
             <input type="submit" value="@Resource.No" class="sub-button" id="cancel"/>
        </div>
    }
</div>
@Scripts.Render("~/bundles/partialsub")