﻿@model MyArtGallery.Models.Comment
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @CommentOptions.CommentDetails;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<ul class="links">
@if(ViewBag.Parent){
  <li>@MessagesAndNotes.ParentMessage:
  @Html.ActionLink(@Model.Parent.UserName, "Details", "Comment", new { id=Model.ParentId }, null) </li>
}
<li>@Html.ActionLink(@Resource.Back, "Details", "Picture", new { id=Model.PictureId }, null)</li>
     
</ul>
<div id="top"></div>
<p class="author">
          <a href="@Url.Action("Browse", "UserProfile",
                new { id = Model.UserName })">
         <img alt="@Model.UserName" src="@Url.Content(Model.UserProfile.AvatarThumbPath)" /> <br /><span>@Model.UserName</span></a>
        </p>
       @Html.DisplayFor(model => model.AddedDate)
      <p>
      </p>
      @Html.DisplayNameFor(model => model.EditedDate): @Html.DisplayFor(model => model.EditedDate)
      <p>
      @Html.DisplayFor(model => model.Text)
        </p>
          <p class="comment-menu"> 
          @if (ViewBag.CanEdit)
          {
          int idd = Model.CommentId;
          @Ajax.ActionLink(@Resource.Edit, "Edit", "Comment", new { id = idd }, new AjaxOptions { UpdateTargetId = "partial" });
          @Ajax.ActionLink(@Resource.Delete, "Delete", "Comment", new { id = idd }, new AjaxOptions { UpdateTargetId = "partial" });
          }
          @Ajax.ActionLink(@Resource.Reply, "Reply", "Comment", new { id = Model.CommentId }, new AjaxOptions { UpdateTargetId = "partial" })</p>
        <div id="replies">
          @foreach (var item in Model.Replies) {
             <p class="author">
             <a href="@Url.Action("Browse", "UserProfile", new { id = item.UserName })">
             <img alt="@item.UserName" src="@Url.Content(item.UserProfile.AvatarThumbPath)" /> <span>@item.UserName</span></a>    @Html.DisplayFor(model => item.AddedDate)
             </p>
     
      <p>

            @Html.DisplayFor(modelItem => item.Text)
            @Html.ActionLink(@Resource.Browse, "Details", new { id=item.CommentId }, new{@class="links"})
     
        </p>
          }
        </div>
</div>
 @Scripts.Render("~/bundles/partialsub") 