﻿@model MyArtGallery.Models.Comment
@using MyArtGallery.Resources;
<div id="comment">@Resource.Edit
 @using(Html.BeginForm("Edit", "Comment", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CommentId)
        @Html.HiddenFor(model => model.PictureId)

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Text)
                </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        
       
        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@Resource.Save" class="sub-button" />
                 <input type="submit" value="@Resource.Cancel" class="sub-button" id="cancel"/>
            </div>
        </div>
}
</div>
@Scripts.Render("~/bundles/partialsub")
@Scripts.Render("~/bundles/htmlcomments")