﻿@model PagedList.IPagedList<MyArtGallery.Models.Comment>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@using MyArtGallery.Models;
@{
    ViewBag.Title = @ViewBag.Author +" - " + @Resource.Comments;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
    <div id="top">

    </div>
    <h3>@Resource.Comments</h3>
    @if (Model.Count() == 0)
    {
         <p>@CommentOptions.NoComments</p>
    }
    <ul id="comment-list">
@foreach (var item in Model) {
  <li>
      <div class="avatar">
      <a href="@Url.Action("Browse", "UserProfile",
                new { id = item.UserName })">
         <img alt="@item.UserName" src="@Url.Content(item.UserProfile.AvatarThumbPath)" /><br /> <span>@item.UserName</span></a>
     </div>
 <div class="comment">

     @if(item.ParentId!=null){
         
           <p> <i>@Html.ActionLink(@MessagesAndNotes.ParentMessage +": "+@item.Parent.UserName, "Details", "Comment", new { id=item.ParentId }, null)</i></p>
     }
    <p>@Html.DisplayFor(model => item.EditedDate)</p>
        <p>   @Html.DisplayFor(model => item.Text)</p>
     <div class="comment-rating">
        @CommentOptions.Good: <b class="pluses">@item.Good</b> @CommentOptions.Bad: <b class="minuses">@item.Bad</b>
    @using(Html.BeginForm("Mark", "Comment", FormMethod.Post, new{ @class="rating-form", role="form"}))
              {
                  <input type="hidden" value="@item.CommentId" name="id"/>
                  <input type="hidden" value="+" name="rate"/>
                  <input name="rate" type="submit" class="plus-button"/>
                }
      @using(Html.BeginForm("Mark", "Comment", FormMethod.Post, new{ @class="rating-form", role="form"}))
              {
                  <input type="hidden" value="@item.CommentId" name="id"/>
                  <input type="hidden" value="-" name="rate"/>
                  <input name="rate" type="submit" class="minus-button"/>
                }
    </div>
          <div class="comment-menu"> 
          @if (ViewBag.CanEdit)
          {
          int idd = item.CommentId;
          @Ajax.ActionLink(@Resource.Edit, "Edit", "Comment", new { id = idd }, null);
          @Ajax.ActionLink(@Resource.Delete, "Delete", "Comment", new { id = idd }, null);
          }
          @Ajax.ActionLink(@Resource.Reply, "Reply", "Comment", new { id = item.CommentId }, null)
          @Ajax.ActionLink(@Resource.MarkAsImproper, "MarkAsImproper", "Administration", new { id = item.CommentId, kind=ProtestType.Comment }, null)
          
          </div>
 </div>     
       
</li>
   
}

</ul>
   

<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ListByAuthor", new { page, id= ViewBag.Author}), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
<ul class="links">
    
    <li> @Html.ActionLink(@Resource.Back, "Browse", "UserProfile", new{ id = ViewBag.Author }, null)   </li>
</ul>
</div>
@Scripts.Render("~/bundles/partialsub")