﻿@model PagedList.IPagedList<MyArtGallery.Models.Comment>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@using MyArtGallery.Models;
<script type="text/javascript">
    $(function () {           
            $('#pager').on('click', 'a', function () {
                if (this.href == "") { return; }
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#picture-comments').html(result);
                    }
                });
                return false;
            });
    });

</script>
<div id="picture-comments">
    @if (Model.Count() == 0)
    {
         <p>@CommentOptions.NoComments</p>
    }
   <div id="top">
        
    </div>
    <div id="marked">
       
    </div>
    <ul id="comment-list">
    @foreach (var item in Model) {
    <li>
      <div class="avatar">
      <a href="@Url.Action("Browse", "UserProfile",
                new { id = item.UserName })">
         <img alt="@item.UserName" src="@Url.Content(item.UserProfile.AvatarThumbPath)" />        <br />
        <span>@item.UserName</span></a>
     </div>
 <div class="comment">

     @if(item.ParentId!=null){
         
           <p> <i>@Html.ActionLink(@MessagesAndNotes.ParentMessage +": "+@item.Parent.UserName, "Details", "Comment", new { id=item.ParentId }, null)</i></p>
     }
    <p>@Html.DisplayFor(model => item.EditedDate)</p>
        <p>   @Html.DisplayFor(model => item.Text)</p>
    <div class="comment-rating">
        @CommentOptions.Good: <b class="pluses">@item.Good</b> @CommentOptions.Bad: <b class="minuses">@item.Bad</b>
       @using(Html.BeginForm("Mark", "Comment", FormMethod.Post, new{ @class="rating-form", role="form"}))
              {
                  <input type="hidden" value="@item.CommentId" name="id"/>
                  <input type="hidden" value="+" name="rate"/>
                  <input name="rate" type="submit" class="plus-button"/>
                }
      @using(Html.BeginForm("Mark", "Comment", FormMethod.Post, new{ @class="rating-form", role="form"}))
              {
                  <input type="hidden" value="@item.CommentId" name="id"/>
                  <input type="hidden" value="-" name="rate"/>
                  <input name="rate" type="submit" class="minus-button"/>
                }
    </div>
   <div class="comment-menu"> 
          @if (ViewBag.CanEdit || item.UserName.Equals(User.Identity.Name))
          {
          int idd = item.CommentId;
          @Ajax.ActionLink(@Resource.Edit, "Edit", "Comment", new { id = idd }, null);
          @Ajax.ActionLink(@Resource.Delete, "Delete", "Comment", new { id = idd }, null);
          }
          @Ajax.ActionLink(@Resource.Reply, "Reply", "Comment", new { id = item.CommentId }, null)
          @Ajax.ActionLink(@Resource.MarkAsImproper, "MarkAsImproper", "Administration", new { id = item.CommentId, kind=ProtestType.Comment }, null)
          
          </div>
 </div>     
       
       
</li>
   
}

</ul>
<div id="pager">
@Html.PagedListPager(Model, page => Url.Action("ListByPicture", new { page, id=ViewBag.PictureId }), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
</div>
@Scripts.Render("~/bundles/partialsub")