﻿@model MyArtGallery.Models.GalleryViewModels.AddCommentViewModel
@using MyArtGallery.Resources;
<div id="comment">

    <p><b>@ViewBag.Parent.UserName </b>@ViewBag.Parent.EditedDate</p>
        <p>   @ViewBag.Parent.Text</p>

 @using(Html.BeginForm("Reply", "Comment", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
    @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ParentId)
        @Html.HiddenFor(model => model.PictureId)
       @Html.HiddenFor(model => model.UserProfileId)

        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <div class="button-wrapper">
            <input type="submit" value="@Resource.Reply" class="sub-button"/>
            <input type="submit" value="@Resource.Cancel" class="sub-button" id="cancel"/>
        </div>
}
</div>
@Scripts.Render("~/bundles/partialsub")
@Scripts.Render("~/bundles/htmlcomments")
