﻿@{
     var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
   
            }
@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Art Gallery</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/datepicker.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/formsactions")
    </head>
    <body>
       
        <div id="header">
                  
                 <h1><a class="site-logo" href="@Url.Action("Index", "Home",null)"></a></h1>
                   
                                  @{
                                 if (Request.LogonUserIdentity.IsAuthenticated)
                                 {
                                      <ul id="navlist">
                                         <li>@Html.ActionLink(@MyArtGallery.Resources.SearchEngine.Search, "SearchMenu", "Home")</li> 
                                   <li><b>@Html.ActionLink(@MyArtGallery.Resources.UserAccount.MyProfile, "Browse", "UserProfile", new {id = User.Identity.Name}, null)</b></li>
                                   <li>@Html.ActionLink(@MyArtGallery.Resources.UserAccount.Logout, "Logout", "UserProfile")</li> 
                                   
                                          </ul>
                              }
                              else
                               {
                                    <ul id="navlist">
                                    <li>@Html.ActionLink(@MyArtGallery.Resources.SearchEngine.Search, "SearchMenu", "Home")</li> 
                                    <li>@Html.ActionLink(@MyArtGallery.Resources.UserAccount.Login, "Login", "UserProfile")</li>
                                    <li>@Html.ActionLink(@MyArtGallery.Resources.UserAccount.Register, "Register", "UserProfile")</li> 
                                        </ul>
                                   
                              
                              }      
                              }     
            <div id="lang-tools">
               @using(Html.BeginForm("SetCulture", "Home"))
               {
                  <input name="culture" id="pl" value="pl" type="submit" @selected("pl", culture) />
                  <input name="culture" id="en" value="en" type="submit" @selected("en", culture) />
                }

    </div>     
                        

           
        </div>

            <div id="content">
               
              
                  
                 <div id="sidebar-wrapper">
                   @if(User.Identity.IsAuthenticated){
                      Html.RenderAction("Sidebar", "UserProfile");
                  }
                </div>
                <div id="main-content">
           
                @RenderBody()
                    </div>
                    </div>

        <div id="footer">

                <div class="float-left">
                    <p>@DateTime.Now.Day-@DateTime.Now.Month-@DateTime.Now.Year Copyright by Joanna Sosnowska</p>
                </div>
                <ul id="footer-navlist"><li>@Html.ActionLink(@MyArtGallery.Resources.Resource.Rules, "Rules", "Home", new{lang=""}, null)</li></ul>

        </div>

    </body>
</html>


