﻿<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Art Gallery</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/datepicker.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/formsactions")
</head>
<body>
      @RenderBody()
</body>
</html>
