﻿@model MyArtGallery.Models.GalleryViewModels.AddPictureViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @ImageOptions.AddImage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
@using (Html.BeginForm("Add", "Picture", FormMethod.Post, new { @class = "image-editor", role = "form", enctype = "multipart/form-data" }))
{
<div id="form-wrapper">
    @Html.AntiForgeryToken()
    <h2>@ImageOptions.AddImage</h2>
        @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.UserProfileId)
        @Html.HiddenFor(model => model.AlbumId)
        @Html.HiddenFor(model => model.X)
        @Html.HiddenFor(model => model.Y)
        @Html.HiddenFor(model => model.Width)
        @Html.HiddenFor(model => model.Height)
       <div class="form-group">
		<div id="isurl" class="editor-label">
            @Html.LabelFor(model => model.Url)
			@Html.EditorFor(model => model.IsUrl)
		    <div id="imgurl">
			@Html.EditorFor(model => model.Url)
		    </div>
            @Html.ValidationMessageFor(model => model.Url)
		</div>
        
        
        </div>
        <div class="form-group">
         <div id="isfile" class="editor-label">
            @Html.LabelFor(model => model.File)
            @Html.EditorFor(model => model.IsFile)
		       <div id="imgfile">
			@Html.TextBoxFor(model => model.File, new { type = "file" })
		</div>  
            @Html.ValidationMessageFor(model => model.File)
		</div>
     
        </div>
        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Title)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Description)
                </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Tags)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Tags)
                @Html.ValidationMessageFor(model => model.Tags)
            </div>
        </div>


      <div class="form-group">
            <div class="editor-label">
              <b class="highlight">@ImageOptions.Category</b>
            </div>
            <div class="editor-field">
                 @Html.DropDownListFor(m => m.CategoryId, Model.Categories)
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>
        <div class="form-group">
          @ImageEditorRes.GifMoving
       </div>
        <div class="form-group" id="animated">
          <div> @Html.LabelFor(model => model.Animated) </div>
            
			@Html.EditorFor(model => model.Animated)
       </div>
       <div class="form-group">
        @Html.LabelFor(model=> model.TurnAngle)<br />
        <hr />
        <div id="angles" class="editor-field">
         <label>@Html.RadioButtonFor(model => model.TurnAngle, 90) @ImageEditorRes.NinetyRight</label>
         <label>@Html.RadioButtonFor(model => model.TurnAngle, 270) @ImageEditorRes.NinetyLeft</label>
         <label>@Html.RadioButtonFor(model => model.TurnAngle, 180) @ImageEditorRes.HalfFullRight</label>      
         <label> @Html.RadioButtonFor(model => model.TurnAngle, 0) @ImageEditorRes.NoTurn</label>
        </div>
       </div>
      
        <div class="form-group">
            <div class="editor-label" id="fliphor">
         <label>  @Html.DisplayNameFor(model => model.MirrorHorizontal): </label>
         @Html.CheckBoxFor(model => model.MirrorHorizontal)
            </div>
        </div>

       <div class="form-group">
            <div class="editor-label" id="flipvert">
         <label>  @Html.DisplayNameFor(model => model.MirrorVertical): </label>
         @Html.CheckBoxFor(model => model.MirrorVertical)
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
          <label>@Html.DisplayNameFor(model => model.Public): </label>
             @Html.CheckBoxFor(model => model.Public)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
           <label> @Html.DisplayNameFor(model => model.Adult): </label>
              @Html.CheckBoxFor(model => model.Adult)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
           <label>@Html.DisplayNameFor(model => model.CommentsOff):</label>
             @Html.CheckBoxFor(model => model.CommentsOff)
            </div>
        </div>

        <div class="form-group">
            <div class="button-wrapper">
                
                <input type="submit" value="@Resource.Add" id="picture-submit" class="sub-button"/>
            </div>
        </div>
<ul class="links" style="width:100%">
   <li> @Html.ActionLink(@Resource.Back, "Browse", "Album", new { id = Model.AlbumId }, null)</li>
</ul>
</div>
<div id="preview-wrapper">
<img alt="@ImageEditorRes.NotAnImage" id="preview" src="@Url.Content("~/Content/Images/background_pale.png")" />
</div>
}

</div>

@Scripts.Render("~/bundles/imageeditor")
@Scripts.Render("~/bundles/imageadder-button")