﻿@model MyArtGallery.Models.Picture
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Resource.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">

    @using (Html.BeginForm("Delete", "Picture", FormMethod.Post, new { @class = "form-horizontal", role = "form"})) 
    {
         @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.PictureId)
         @Html.HiddenFor(model => model.Url)
         @Html.HiddenFor(model => model.ThumbnailUrl)
         @Html.HiddenFor(model => model.FullSizeUrl)
         @Html.HiddenFor(model => model.Album.Path)
        <h3>@Resource.DeletionConfirm @Model.Title?</h3>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Category)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Title)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Description)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.UserProfile.UserName)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.AdditionDate)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.AdditionDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Favourites)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Favourites)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Downloads)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Downloads)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Width)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Width)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Height)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Height)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.CameraType)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.CameraType)
        </div>

    

 

        <div class="button-wrapper">
            <input type="submit" value="@Resource.Yes" class="sub-button"/> |
            @Html.ActionLink(@Resource.No, "Details", new{id=Model.PictureId})
        </div>
    }
</div>
