﻿@model MyArtGallery.Models.Picture
@using MyArtGallery.Models;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Model.UserName+" - "+@Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="profile-wrapper">
<div id="featured">
       <a class="photo-frame" href="@Url.Action("FullSize", "Picture", new { id = Model.PictureId })">
                 <img alt="@Model.Title" src="@Url.Content(Model.Url)"  title="@ImageOptions.ClickToFullSize"/>
           </a>
         <ul class="links">      
    @if(@Model.UserName==@User.Identity.Name){  
       <li>@Html.ActionLink(@ImageEditorRes.EditOrReplace, "EditImage",new { id=Model.PictureId }, null) </li>                 
   }
   else{    
    <li>@Html.ActionLink(@ImageOptions.Favourite, "Favourite", "Picture", new { id = Model.PictureId }, new{ @class="no-refresh"})</li> 
    <li>@Html.ActionLink(@Resource.MarkAsImproper, "MarkAsImproper", "Administration", new { id = Model.PictureId, kind=ProtestType.Picture }, new{ @class="no-refresh"})</li> 
   }
   @if(ViewBag.CanEdit)
   {
      <li>@Html.ActionLink(@ImageOptions.EditProperties, "EditData",new { id=Model.PictureId }, null) </li>
      <li>@Html.ActionLink(@Resource.Delete, "Delete", new { id=Model.PictureId }, null) </li>   
   }
<li>@Html.ActionLink(@Resource.Back, "Browse", "Album", new { path = Model.Album.Path }, null)</li>
</ul>
   @if(@Model.UserName==@User.Identity.Name){
  
     <div style="width:100%">
                @{Html.RenderAction("Move", "Picture", new{ id = Model.PictureId});}
            </div>}


<div id="comments-wrapper">
@if(!Model.CommentsOff){
     if(User.Identity.IsAuthenticated)
    {
    <div id="comment-menu" class="comment-menu">
     @Ajax.ActionLink(@CommentOptions.AddComment, "Comment", "Comment", new { id = Model.PictureId }, new AjaxOptions {UpdateTargetId = "comment-list"})

    </div>
    }
    <div id="comment-list">
       @{Html.RenderAction("ListByPicture", "Comment", new{ id = Model.PictureId});}
    </div>

}
else{
<h3>@CommentOptions.CommentsOff</h3>
}
</div>
    </div>

    <div id="info">
            <div class="display-field" id="details-header"><div id="author"> 
            <a href="@Url.Action("Browse", "UserProfile", new { id = Model.UserName })">
             <img alt="@Model.UserName" src="@Url.Content(Model.UserProfile.AvatarThumbPath)" />
            @Html.DisplayFor(model => model.UserName)</span></a>
            </div>
            <div id="title"> @Html.DisplayFor(model => model.Title)</div>
            </div>

            <div class="display-field" id="description">
             @Html.DisplayFor(model => model.Description)
            </div>


            <div class="display-label">
                @Html.DisplayNameFor(model => model.Category) : 

         
            <div class="display-field" id="category">
            @if(ViewBag.Language.Equals("pl")){
            if(Model.Category.ParentId!=null){
            <b>@Html.ActionLink(Model.Category.Parent.CategoryName, "Images", "Category", new { id=Model.Category.ParentId}, null) > </b> 
            }
             <b>    @Html.ActionLink(Model.Category.CategoryName, "Images", "Category", new { id=Model.Category.CategoryId}, null)</b>
            }
            else{
            if(Model.Category.ParentId!=null){
            <i>@Html.ActionLink(Model.Category.Parent.CategoryNameEn, "Images", "Category", new { id=Model.Category.ParentId}, null) > </i> 
            }
             <i>    @Html.ActionLink(Model.Category.CategoryNameEn, "Images", "Category", new { id=Model.Category.CategoryId}, null)</i>
            }
          
            </div>
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Tags):
                @foreach(Tag item in Model.Tags){
                   <b> @Html.ActionLink(item.Name, "Images", "Tag", new { id=item.TagId }, new{@class="links"})</b>       
                }
            </div>
           @if(Request.LogonUserIdentity.IsAuthenticated){
            <div>
               @{Html.RenderAction("Download", "Picture", new{ id = Model.PictureId});}

            </div>
            
           } 
           <hr />
            <div class="display-label">
              @Html.DisplayNameFor(model => model.AdditionDate) : 
            <div class="display-field">
              @Html.DisplayFor(model => model.AdditionDate)
            </div>
            </div>


            <div class="display-label">
              @Html.DisplayNameFor(model => model.LastModifiedDate) : 
            <div class="display-field">
              @Html.DisplayFor(model => model.LastModifiedDate)
            </div>
            </div>
            <div class="display-label">
              @Html.DisplayNameFor(model => model.Height)  x  @Html.DisplayNameFor(model => model.Width)
            <div class="display-field">
              @Html.DisplayFor(model => model.Height) x @Html.DisplayFor(model => model.Width)
            </div>
            </div>
            <div class="display-label">
              @Html.DisplayNameFor(model => model.FileSize) : 
            <div class="display-field">
              @Html.DisplayFor(model => model.FileSize)
            </div>
            </div>
            <hr />

             <div class="display-label">
              @Html.DisplayNameFor(model => model.CameraType) : 
            <div class="display-field">
              @Html.DisplayFor(model => model.CameraType)
            </div>
            </div>
            <div class="display-label">
              @Html.DisplayNameFor(model => model.Software) : 
            <div class="display-field">
              @Html.DisplayFor(model => model.Software)
            </div>
            </div>
            <div class="display-label">
              @Html.DisplayNameFor(model => model.DateTaken) : 
            <div class="display-field">
              @Html.DisplayFor(model => model.DateTaken)
            </div>
            </div>
            <div class="display-label">
              @Html.DisplayNameFor(model => model.Flash) : 
            <div class="display-field">
              @if(Model.Flash){
              @Resource.Yes;}
              else{
               @Resource.No;
              }
            </div>
            </div>
            <div class="display-label">
              @Html.DisplayNameFor(model => model.ExposureTime) : 
            <div class="display-field">
              @Html.DisplayFor(model => model.ExposureTime)
            </div>
            </div>
            <div class="display-label">
              @Html.DisplayNameFor(model => model.FocalLength) : 
            <div class="display-field">
               @if(Model.FocalLength!=null){
            <b>  @Html.DisplayFor(model => model.FocalLength) mm </b>
              }
            </div>
            </div>
            
            <div class="display-label">
              @Html.DisplayNameFor(model => model.ShutterSpd) : 
            <div class="display-field">
              @Html.DisplayFor(model => model.ShutterSpd)
            </div>
            </div>
            <div class="display-label">
              @Html.DisplayNameFor(model => model.Colours) : 
            <div class="display-field">
              @Html.DisplayFor(model => model.Colours)
            </div>
            </div>
             <div class="display-label">
               @ImageOptions.Favourited:   <b id="fav-count">@Html.ActionLink(@Model.Favourites.ToString(), "Favourites", "Picture", new { id=Model.PictureId }, null)</b>

            </div>
            <div>
            </div>
</div>

</div>