﻿@model MyArtGallery.Models.GalleryViewModels.DownloadViewModel
@using MyArtGallery.Resources;
@using (Html.BeginForm("Download", "Picture", FormMethod.Post, new { @class = "form-small", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
         @Html.HiddenFor(model => model.Id)
         <div class="form-group">
           <p class="highlight"> @ImageOptions.Download</p>

                <div class="field-small">  @Html.DropDownListFor(m => m.Size, Model.Sizes)</div>
                
                <input type="submit" value="@ImageOptions.Download" class="sub-button"/>
        </div>
}
