﻿@model MyArtGallery.Models.GalleryViewModels.ChangePictureViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @ImageEditorRes.EditImage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
@using (Html.BeginForm("EditImage", "Picture", FormMethod.Post, new { @class = "image-editor", role = "form", enctype = "multipart/form-data" }))
{
<div id="form-wrapper">
    @Html.AntiForgeryToken()
    <h2>@ImageEditorRes.EditImage</h2>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PictureId)
        @Html.HiddenFor(model => model.Path)            
        @Html.HiddenFor(model => model.X)
        @Html.HiddenFor(model => model.Y)
        @Html.HiddenFor(model => model.Width)
        @Html.HiddenFor(model => model.Height)
       <div class="form-group">
            <div class="editor-label">
                <p class="highlight">@Html.DisplayFor(model => model.Title)</p>
            </div>
       </div>
       <div id="replace_image" class="form-group">
           @Html.LabelFor(model => model.Replace)
			@Html.EditorFor(model => model.Replace)
       </div>
             <div id="replacements">
       <div class="form-group">
		<div id="isurl" class="editor-label">
            @Html.LabelFor(model => model.Url)
			@Html.EditorFor(model => model.IsUrl)
		    <div id="imgurl">
			@Html.EditorFor(model => model.Url)
		    </div>
            @Html.ValidationMessageFor(model => model.Url)
		</div>
        
        
        </div>
        <div class="form-group">
         <div id="isfile" class="editor-label">
            @Html.LabelFor(model => model.File)
            @Html.EditorFor(model => model.IsFile)
		       <div id="imgfile">
			@Html.TextBoxFor(model => model.File, new { type = "file" })
		</div>  
           @Html.ValidationMessageFor(model => model.File)
		</div>
     </div>
        </div>
       <div id="edit_image" class="form-group">
           @Html.LabelFor(model => model.Edit)
			@Html.EditorFor(model => model.Edit)
       </div>

       <div class="form-group">
          @ImageEditorRes.GifMoving
       </div>
        <div class="form-group" id="animated">
           <div>@Html.LabelFor(model => model.Animated)</div>
			@Html.EditorFor(model => model.Animated)
       </div>
       <div class="form-group">
        @Html.LabelFor(model=> model.TurnAngle)<br />
        <hr />
        <div id="angles" class="editor-field">
          <label>@Html.RadioButtonFor(model => model.TurnAngle, 90) @ImageEditorRes.NinetyRight</label>
         <label>@Html.RadioButtonFor(model => model.TurnAngle, 270) @ImageEditorRes.NinetyLeft</label>
        <label>@Html.RadioButtonFor(model => model.TurnAngle, 180) @ImageEditorRes.HalfFullRight</label>      
        <label>@Html.RadioButtonFor(model => model.TurnAngle, 0) @ImageEditorRes.NoTurn</label>
        </div>
       </div>
      
         <div class="form-group">
            <div class="editor-label" id="fliphor">
         <label>  @Html.DisplayNameFor(model => model.MirrorHorizontal): </label>
         @Html.CheckBoxFor(model => model.MirrorHorizontal)
            </div>
        </div>

       <div class="form-group">
            <div class="editor-label" id="flipvert">
         <label>  @Html.DisplayNameFor(model => model.MirrorVertical): </label>
         @Html.CheckBoxFor(model => model.MirrorVertical)
            </div>
        </div>

        <div class="form-group">
            <div class="button-wrapper">
                
                <input type="submit" value="@Resource.Save" id="picture-submit" class="sub-button"/>
            </div>
        </div>
<ul class="links" style="width:100%">
    <li>@Html.ActionLink(@Resource.Back, "Details", "Picture", new { id = Model.PictureId }, null)</li>
</ul>
</div>
<div id="preview-wrapper">
<img alt="@ImageEditorRes.NotAnImage" id="preview" src="@Url.Content(Model.Path)" />
</div>
}
</div>
@Scripts.Render("~/bundles/imageeditor")
@Scripts.Render("~/bundles/imageeditor-button")

