﻿@model MyArtGallery.Models.GalleryViewModels.EditPictureDataViewModel
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @ImageOptions.EditProperties;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gallery-wrapper">
<div id="form-wrapper">
@using (Html.BeginForm("EditData", "Picture", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()   
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PictureId)

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.AlbumCover)
                </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.AlbumCover)
                @Html.ValidationMessageFor(model => model.AlbumCover)
            </div>
        </div>
      <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Title)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Description)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

       <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Tags)
                </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Tags)
                @Html.ValidationMessageFor(model => model.Tags)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @ImageOptions.Category
                </div>
            <div class="editor-field">
                 @Html.DropDownListFor(m => m.CategoryId, Model.Categories, new { @class = "" })
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>


        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Public)
                </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.Public)
                @Html.ValidationMessageFor(model => model.Public)
            </div>
        </div>

        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.Adult)
                </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.Adult)
                @Html.ValidationMessageFor(model => model.Adult)
            </div>
        </div>

        
        <div class="form-group">
            <div class="editor-label">
            @Html.LabelFor(model => model.CommentsOff)
                </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.CommentsOff)
                @Html.ValidationMessageFor(model => model.CommentsOff)
            </div>
        </div>

        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="@Resource.Save" class="sub-button"/>
            </div>
        </div>
}

<ul class="links">
   <li> @Html.ActionLink(@Resource.Back, "Details", "Picture", new { id = Model.PictureId }, null)</li>
</ul>

</div>
</div>