﻿@model PagedList.IPagedList<MyArtGallery.Models.Favourite>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @ViewBag.PictureName +"  - "+@ImageOptions.Favourited ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<ul class="links"><li>@Html.ActionLink(@Resource.Back, "Details", "Picture", new { id = ViewBag.PictureId }, null)</li></ul>
 <h3>@ViewBag.PictureName  - @ImageOptions.Favourited</h3>
@if(Model.Count() == 0)
      {
          <p>@ImageOptions.NoFavourites</p>
     }
   <ul id="album-list">
@foreach(var item in Model){
    <li>            
            <a href="@Url.Action("Browse", "UserProfile", new { id = item.UserName })">
                 <img alt="@item.User.UserName" src="@Url.Content(item.User.AvatarPath)" />    
           </a>
                         <span>@item.User.UserName</span>  
        </li>
   
}
        </ul>
<div id="pager">
@Html.PagedListPager(Model, page => Url.Action("Favourites", new { page, id=ViewBag.PictureId }), new PagedListRenderOptions{
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
</div>
