﻿@model IEnumerable<MyArtGallery.Models.Picture>
@using MyArtGallery.Resources;
@if (Model.Count() == 0)
      {
          <p>@UserAccount.UserNoImages</p>
     }
    <ul id="featured-images">
@foreach (var item in Model) {
    <li>
           @* <a href="@Url.Action("Details", "Picture",
                new { id = item.PictureId })">*@
             <a href="@Url.Content(item.Url)" rel="feats" title="@item.Title">
            @if (item.ThumbnailUrl == null)
            {
                  <img alt="@item.Title" src="@Url.Content("~/Content/Images/defaulticon.png")" />
            }else{
                 <img alt="@item.Title" src="@Url.Content(item.ThumbnailUrl)" />
                }
          
            </a>
            <span>@item.Title</span>
        </li>
   
}
        </ul>
