﻿@model MyArtGallery.Models.Picture
@using MyArtGallery.Resources;
@{
    ViewBag.Title = @Model.Title +" - "+ @ImageOptions.FullSize;
    Layout = "~/Views/Shared/Empty.cshtml";
}
 <div id="fullsize">
    <a class="photo-frame" href="@Url.Action("Details", "Picture", new { id = Model.PictureId })">
                 <img alt="@Model.Title" src="@Url.Content(Model.FullSizeUrl)" title="@ImageOptions.ClickToGoBack"/>
         </a>
 </div>
