﻿@model PagedList.IPagedList<MyArtGallery.Models.Picture>
@using PagedList.Mvc;
@using MyArtGallery.Resources;
@{
    ViewBag.Title = ViewBag.Author;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="gallery-wrapper">
<h4>@ViewBag.Author</h4>
@if (Model.Count() == 0)
      {
          <p>@UserAccount.UserNoImages</p>
     }
    <ul id="photo-list">
@foreach (var item in Model) {
    <li>
            <a href="@Url.Action("Details", "Picture", new { id = item.PictureId })">
            @if (item.ThumbnailUrl == null)
            {
                  <img alt="@item.Title" src="@Url.Content("~/Content/Images/defaulticon.png")" />
            }else{
                 <img alt="@item.Title" src="@Url.Content(item.ThumbnailUrl)" />
                }          
         </a>
         <span>@item.Title</span>
        </li>
   
}
        </ul>
<br />
<div id="pager">
@Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ListByAuthor", 
    new { id=ViewBag.Author, page }), new PagedListRenderOptions
                                                             {
                                                                        LinkToFirstPageFormat = "<<",
                                                                        LinkToPreviousPageFormat = @Resource.Prev,
                                                                        LinkToNextPageFormat = @Resource.Next,
                                                                        LinkToLastPageFormat = ">>",

                                                              })
</div>
<ul class="links">
    <li>@Html.ActionLink(@Resource.Back, "Browse", "UserProfile", new{id=ViewBag.Author}, null)</li>
</ul>
</div>

