﻿@model MyArtGallery.Models.GalleryViewModels.MovePictureViewModel
@using MyArtGallery.Resources;
@using (Html.BeginForm("Move", "Picture", FormMethod.Post, new { @class = "form-small", role = "form"})) 
{
   <h4> @ImageOptions.MoveTo:</h4>
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.Id)
        <div class="form-group">


            <div class="button-wrapper">

                 <div class="field-small">@Html.DropDownListFor(m => m.AlbumId, Model.Albums)</div>
                <input type="submit" value="@Resource.Move" class="sub-button" />
            </div>
</div>
}
